﻿@model G4_TaToOr_SE1504_SP22_Official.Models.User


@{
    Layout = null;


}


<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TaToOr Personal Information</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../../img/logo/logo2.png" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/node_modules/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="~/node_modules/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="~/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/dist/css/theme.min.css">
    <script src="~/src/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    @*Thông báo tình trạng đổi thông tin cá nhân*@
    @if (ViewBag.Status != null)
    {
        <script>
            alert("@ViewBag.Status");
        </script>
    }


    <div class="wrapper">
        <header class="header-top" header-theme="light">
            <div class="container-fluid">
                <div class="d-flex justify-content-between">
                    <div class="top-menu d-flex align-items-center">
                        <button type="button" class="btn-icon mobile-nav-toggle d-lg-none"><span></span></button>
                        <div class="header-search">
                            <div class="input-group">
                                <span class="input-group-addon search-close"><i class="ik ik-x"></i></span>
                                <input type="text" class="form-control">
                                <a href="~/Home/Index"><span class="input-group-addon search-btn"> <i class="ik ik-arrow-left"></i> Back to User Management</span></a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </header>

        <div class="page-wrap">
            <div class="main-content">
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <i class="ik ik-edit bg-blue"></i>
                                    <div class="d-inline">
                                        <h5>Change Personal Information</h5>
                                        <span>TaToOr User Personal Editting ( ID: @Session["id"])</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row">

                        <div class="col-md-6">
                            <div class="card" style="min-height: 430px;">
                                @* Form thay đổi thông tin cá nhân*@
                                @using (Html.BeginForm())
                                {
                                    <div class="card-body">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="User_ID" value="@Session["id"]" />
                                        @Html.HiddenFor(model => model.User_ID) @*Gáng giá trị ẩn User ID*@
                                        <div class="form-group row">
                                            <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Name</label>
                                            <div class="col-sm-9">
                                                @*Input Tên*@
                                                <input class="form-control" placeholder="Username" name="User_Name" value="@Model.User_Name" required />
                                                @Html.HiddenFor(model => model.User_Name)
                                                @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Gender</label>
                                            <div class="col-md-9">
                                                @*Radio giới tính*@
                                                @Html.RadioButtonFor(model => model.GenderOfUser_ID, "0", htmlAttributes: new { @checked = "checked" })
                                                <label>Other</label>
                                                @Html.RadioButtonFor(model => model.GenderOfUser_ID, "1")
                                                <label>Male</label>
                                                @Html.RadioButtonFor(model => model.GenderOfUser_ID, "2")
                                                <label>Female</label>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Birthday</label>
                                            <div class="col-sm-9">
                                                @*Đưa giá trị của Year vào ViewBag xong hiển thị nó ra, Hidden For để lấy giá trị một cách bí mật của input*@
                                                <input class="form-control" placeholder="dd-mm-yyyy" type="date"  value="@ViewBag.Year" name="User_DateOfBirth" max="@DateTime.Now.ToString("yyyy-MM-dd")" min="1900-01-01" required/>
                                                @Html.HiddenFor(model => model.User_DateOfBirth)
                                                @Html.ValidationMessageFor(model => model.User_DateOfBirth, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                                            <div class="col-sm-9">
                                                @*Lấy email*@
                                                <input onchange="ValidateEmail()" id="txtEmail" name="User_Email" placeholder="email" class="form-control" value="@Model.User_Email" readonly />
                                               
                                                <span id="lblError" style="color:red"></span>
                                                <p class="text-red">To change your email, please contact Admin.</p>
                                                @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="exampleInputMobile" class="col-sm-3 col-form-label">Phonenumber</label>
                                            <div class="col-sm-9">
                                                @*Sđt*@
                                                <input class="form-control" placeholder="PhoneNumber" name="User_PhoneNumber" value="@Model.User_PhoneNumber" required />
                                                @Html.HiddenFor(model => model.User_PhoneNumber)
                                                @Html.ValidationMessageFor(model => model.User_PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Address</label>
                                            <div class="col-sm-9">
                                                @*Lấy địa chỉ*@
                                                <input class="form-control" placeholder="Address" name="User_Address" value="@Model.User_Address" required />
                                                @Html.HiddenFor(model => model.User_Address)
                                                @Html.ValidationMessageFor(model => model.User_Address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @*Submit xác nhận, trả về hàm xác nhận với tiêu đề: Are you sure you want to change this?*@
                                        <button type="submit" class="btn btn-primary mr-2" onclick="return confirm('Are you sure you want to change this?');">Submit</button>
                                        @*Bấm cancel về lại Index*@
                                        <a class="btn btn-light" href="~/Home/Index">Cancel</a>
                                    </div>
                                }
                            </div>
                        </div>


                        <div class="col-md-5">
                            <div class="card" style="min-height: 304px;">
                                @using (Html.BeginForm("ChangePassWord", "User", FormMethod.Post))
                                {
                                    <div class="card-header"><h3>Change Password</h3></div>
                                    <div class="card-body">
                                        <form class="forms-sample">
                                            <div class="form-group row">
                                                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Old Password</label>
                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control" name="oldpassword" required id="exampleInputPassword2" placeholder="Old Password">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="exampleInputPassword2" class="col-sm-3 col-form-label">New Password</label>
                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control" name="newpassword" required id="exampleInputPassword2" placeholder="New Password">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label for="exampleInputConfirmPassword2" class="col-sm-3 col-form-label">Re Password</label>
                                                <div class="col-sm-9">
                                                    <input type="password" class="form-control" name="cfpassword" required id="exampleInputConfirmPassword2" placeholder="Confirm Password">
                                                </div>
                                            </div>
                                            <div class="form-group">

                                            </div>
                                            
                                                <div class="col-sm-9">

                                                    @ViewBag.ErrorPass
                                                </div>
                                           

                                            <button type="submit" class="btn btn-primary mr-2">Change</button>
                                           
                                            <div class="form-group row">


                                            </div>
                                        </form>
                                    </div>
                                }

                            </div>
                        </div>

                    </div>


                </div>
            </div>
        </div>
    </div>
    @*Bắt lỗi email*@
    <script type="text/javascript">
        function ValidateEmail() {
            var email = document.getElementById("txtEmail").value;
            var lblError = document.getElementById("lblError");
            lblError.innerHTML = "";
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                lblError.innerHTML = "Invalid email address.";
                return false;
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="~/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="~/dist/js/theme.min.js"></script>
    <script src="~/js/forms.js"></script>
    Google Analytics: change UA-XXXXX-X to be your site's ID.
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');</script>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}