﻿@model G4_TaToOr_SE1504_SP22_Official.Models.User


@{
    Layout = null;
}


<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Edit Staff</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../favicon.ico" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/node_modules/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="~/node_modules/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="~/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/dist/css/theme.min.css">
    <script src="~/src/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    @if (ViewBag.Status != null)
    {
        <script>
            alert("@ViewBag.Status")
        </script>
    }
    <div class="wrapper">
        <header class="header-top" header-theme="light">
            <div class="container-fluid">
                <div class="d-flex justify-content-between">
                    <div class="top-menu d-flex align-items-center">
                        <button type="button" class="btn-icon mobile-nav-toggle d-lg-none"><span></span></button>
                        <div class="header-search">
                            <div class="input-group">
                                <span class="input-group-addon search-close"><i class="ik ik-x"></i></span>
                                <input type="text" class="form-control">
                                <a href="@Url.Action("Index", "Home")"><span class="input-group-addon search-btn"> <i class="ik ik-arrow-left"></i> Back to Home</span></a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </header>

        <div class="page-wrap">
            <div class="main-content">
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <i class="ik ik-edit bg-blue"></i>
                                    <div class="d-inline">
                                        <h5>Edit Staff</h5>
                                        <span>TaToOr System</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <p class="message hidden">Edit successful!</p>
                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-6">
                                <div class="card" style="min-height: 300px;">
                                    <div class="card-body">
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" name="User_ID" value="@Session["id"]" />
                                        @Html.HiddenFor(model => model.User_ID)
                                        <div class="form-group row">
                                            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Birthday</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" value="@ViewBag.Year" type="date" placeholder="dd-mm-yyyy" name="User_DateOfBirth" max="@DateTime.Now.ToString("yyyy-MM-dd")" min="1900-01-01" required />
                                                @Html.HiddenFor(model => model.User_DateOfBirth)
                                                @Html.ValidationMessageFor(model => model.User_DateOfBirth, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Email</label>
                                            <div class="col-sm-9">
                                                <input class="form-control " placeholder="Email" name="User_Email" value="@Model.User_Email" required />
                                                @Html.HiddenFor(model => model.User_Email)
                                                @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label for="exampleInputMobile" class="col-sm-3 col-form-label">Phonenumber</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" placeholder="PhoneNumber" name="User_PhoneNumber" value="@Model.User_PhoneNumber" required />
                                                @Html.HiddenFor(model => model.User_PhoneNumber)
                                                @Html.ValidationMessageFor(model => model.User_PhoneNumber, "", new { @class = "text-danger" })
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label for="exampleInputPassword2" class="col-sm-3 col-form-label">Address</label>
                                            <div class="col-sm-9">
                                                <input class="form-control" placeholder="Address" name="User_Address" value="@Model.User_Address" required />
                                                @Html.HiddenFor(model => model.User_Address)
                                                @Html.ValidationMessageFor(model => model.User_Address, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary mr-2">Submit</button>
                                        <a class="btn btn-light" href="@Url.Action("Index", "Home")">Cancel</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="~/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="~/dist/js/theme.min.js"></script>
    <script src="~/js/forms.js"></script>
    Google Analytics: change UA-XXXXX-X to be your site's ID.
    <script>
        $(document).ready(function () {
            $("form").submit(function () {
                $("#form").addClass('hidden'), $(".message").removeClass('hidden');
            })
        })
    </script>
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');</script>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}