﻿@model G4_TaToOr_SE1504_SP22_Official.Models.Product

@using (Html.BeginForm())
{
    {
        ViewBag.Title = "Delete";
    }

    

    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Product</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Product_ID)
        <dl class="dl-horizontal">
            @*<dt>
                @Html.DisplayNameFor(model => model.Product_ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product_ID)
            </dd>*@

            <dt>
                Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product_Name)
            </dd>

            <dt>
                Price
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product_Price)
            </dd>

            <dt>
               Description
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product_Description)
            </dd>

            <dt>
                Star
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Product_Star)
            </dd>

            <dt>
                Product Status
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ProductStatu.ProductStatus_Detail)
            </dd>
            <dt>
                Origin
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Origin.Origin_Detail)
            </dd>

            <dt>
                Type Of Food
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TypeOfFood.TypeOfFood_Detail)
            </dd>

            <dt>
                Form Of Food
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FormOfFood.FormOfFood_Detail)
            </dd>

        </dl>


        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "StaffIndex")
        </div>

    </div>
}

