﻿@model G4_TaToOr_SE1504_SP22_Official.Models.Picture

@{

    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TaToOr - Product Management</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="../../img/logo/logo2.png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/node_modules/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/node_modules/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="~/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="~/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/node_modules/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/node_modules/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/node_modules/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="~/node_modules/c3/c3.min.css">
    <link rel="stylesheet" href="~/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/node_modules/owl.carousel/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/node_modules/owl.carousel/dist/assets/owl.theme.default.css">
    <link rel="stylesheet" href="~/dist/css/theme.min.css">
    <script src="../src/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>
        .navigation-main {
            background-color: white;
            border-radius: 10px;
        }

        .card-body {
            background-color: white;
        }

        th, td {
            padding: 15px;
            font-size: 120%
        }

        thead {
            text-align: justify;
            background-color: #FFF3E1;
        }

        .app-sidebar {
            color: white;
        }

        .nav-item {
            padding: 3%;
        }
    </style>
</head>
<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrapper">


        <div class="page-wrap">
            <div class="app-sidebar" style="background-color: #FFF3E1 ">
                <div class="sidebar-header">

                    <a class="header-brand" href="@Url.Action("Index", "Home")">
                        <div class="logo-img">
                            <img src="~/img/logo/logo2.png" class="header-brand-img" alt="lavalite" idth="80px" height="50px">

                            <span class="text">TaToOr</span>
                        </div>

                    </a>
                    
                </div>

                <div class="sidebar-content">
                    <div class="nav-container">
                        <nav id="main-menu-navigation" class="navigation-main">
                            <div class="nav-lavel" style="color: white; background-color: #945305 "><i class="ik ik-settings"></i>Staff Management</div>

                            <div class="nav-item active">
                                <a href="@Url.Action("StaffIndex", "Staff")" style="color: orange; font-weight: bold "><i class="ik ik-archive"></i>Product Management</a>
                            </div>
                            <div class="nav-item ">
                                <a href="@Url.Action("ShowAllBill", "BillManagement")" style="color: orange; font-weight: bold "><i class="ik ik-shopping-cart"></i>Order Management</a>
                            </div>
                            <div class="nav-item ">
                                <a href="@Url.Action("ReviewIndex", "Review")" style="color: orange; font-weight: bold "><i class="ik ik-message-circle"></i><span>Review Management</span></a>
                            </div>
                            <div class="nav-item ">
                                <a href="@Url.Action("Index", "Statistical")" style="color: orange; font-weight: bold "><i class="ik ik-bar-chart-2" style="color: orange"></i><span>Statistic Management</span></a>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>

            <div class="main-content">
                <div class="container" style="font-size: 200%; padding-bottom: 5%">
                    <a href="@Url.Action("StaffIndex", "Staff")"><i class="ik ik-skip-back"></i><span>Back</span></a>
                </div>
                <div class="container">
                    @using (Html.BeginForm("StaffUploadImage", "Staff", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">
                            <h4> Upload Picture For Product</h4>
                            <hr />
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">

                                <div class="col-md-10">
                                    <input type="file" name="ImageFile" />
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-md-10">
                                    <input type="submit" value="Create" class="btn btn-dark" />
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
            <footer class="footer">
                <div class="w-100 clearfix">
                    <span class="text-center text-sm-left d-md-inline-block">Copyright © 2018 ThemeKit v2.0. All Rights Reserved.</span>
                    <span class="float-none float-sm-right mt-1 mt-sm-0 text-center">Crafted with <i class="fa fa-heart text-danger"></i> by <a href="http://lavalite.org/" class="text-dark" target="_blank">Lavalite</a></span>
                </div>
            </footer>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="../node_modules/screenfull/dist/screenfull.js"></script>
    <script src="../node_modules/moment/moment.js"></script>
    <script src="../node_modules/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="../node_modules/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="../node_modules/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../dist/js/theme.min.js"></script>
    <script src="../js/widgets.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');
    </script>
</body>
</html>