﻿@model G4_TaToOr_SE1504_SP22_Official.Models.Product

@{

    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Create New Product</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link rel="icon" type="image/png" href="../../img/logo/logo2.png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="../node_modules/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="../node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="../dist/css/theme.min.css">
    <script src="../src/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>
        .navigation-main {
            background-color: white;
            border-radius: 10px;
        }

        .card-body {
            background-color: white;
        }

        th, td {
            padding: 15px;
            font-size: 120%
        }

        thead {
            text-align: justify;
            background-color: #FFF3E1;
        }

        .app-sidebar {
            color: white;
        }

        .nav-item {
            padding: 3%;
        }

        body {
            line-height: 2.5;
            font-size: 1.2rem;
        }

        .btn {
            padding: 6px 18px;
            height: 60px;
            font-size: 23px;
        }
    </style>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrapper">
        <div class="page-wrap">
            <div class="app-sidebar" style="background-color: #FFF3E1 ">
                <div class="sidebar-header">
                    <a class="header-brand" href="@Url.Action("Index", "Home")">
                        <div class="logo-img">
                            <img src="~/img/logo/logo2.png" class="header-brand-img" alt="lavalite" idth="80px" height="50px">

                            <span class="text">TaToOr</span>
                        </div>
                    </a>
                </div>

                <div class="sidebar-content">
                    <div class="nav-container">
                        <nav id="main-menu-navigation" class="navigation-main">
                            <div class="nav-lavel" style="color: white; background-color: #945305 "><i class="ik ik-settings"></i>Staff Management</div>

                            <div class="nav-item active">
                                <a href="@Url.Action("StaffIndex", "Staff")" style="color: orange; font-weight: bold; font-size: 13px"><i class="ik ik-archive"></i>Product Management</a>
                            </div>
                            <div class="nav-item ">
                                <a href="@Url.Action("ShowAllBill", "BillManagement")" style="color: orange; font-weight: bold; font-size: 13px"><i class="ik ik-shopping-cart"></i>Order Management</a>
                            </div>
                            <div class="nav-item ">
                                <a href="@Url.Action("ReviewIndex", "Review")" style="color: orange; font-weight: bold "><i class="ik ik-message-circle"></i><span>Review Management</span></a>
                            </div>
                            <div class="nav-item ">
                                <a href="@Url.Action("Index", "Statistical")" style="color: orange; font-weight: bold "><i class="ik ik-bar-chart-2" style="color: orange"></i><span>Statistic Management</span></a>
                            </div>

                        </nav>
                    </div>
                </div>
            </div>

            <div class="main-content">
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <div class="d-inline">
                                        <h5>Create New Product</h5>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-10">
                                <div class="card">
                                    <div class="card-body">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.Product_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Product_ID, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Product_ID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Product_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Product_Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Product_Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Product_Price, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Product_Price, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Product_Price, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Product_Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <textarea class="form-control bor8 " name="Product_Description"></textarea>
                                                @Html.HiddenFor(model => model.Product_Description, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Product_Description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.Product_Star, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Product_Star, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Product_Star, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@

                                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.ProductStatus_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.ProductStatus_ID, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ProductStatus_ID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Origin_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.RadioButtonFor(model => model.Origin_ID, "1", htmlAttributes: new { @checked = "checked" })
                                                <label>Vietnam</label>
                                                @Html.RadioButtonFor(model => model.Origin_ID, "2")
                                                <label>Korea</label>
                                                @Html.RadioButtonFor(model => model.Origin_ID, "3")
                                                <label>Thailand</label>
                                                @Html.RadioButtonFor(model => model.Origin_ID, "4")
                                                <label>India</label>
                                                @Html.RadioButtonFor(model => model.Origin_ID, "5")
                                                <label>Japan</label>
                                                @Html.RadioButtonFor(model => model.Origin_ID, "6")
                                                <label>China</label>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.TypeOfFood_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.RadioButtonFor(model => model.TypeOfFood_ID, "0", htmlAttributes: new { @checked = "checked" })
                                                <label>Main course</label>
                                                @Html.RadioButtonFor(model => model.TypeOfFood_ID, "1")
                                                <label>Desert</label>
                                                @Html.RadioButtonFor(model => model.TypeOfFood_ID, "2")
                                                <label>Pastry</label>
                                                @Html.RadioButtonFor(model => model.TypeOfFood_ID, "3")
                                                <label>Diet</label>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.FormOfFood_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.RadioButtonFor(model => model.FormOfFood_ID, "1", htmlAttributes: new { @checked = "checked" })
                                                <label>Liquid</label>
                                                @Html.RadioButtonFor(model => model.FormOfFood_ID, "2")
                                                <label>Dry</label>
                                                @Html.RadioButtonFor(model => model.FormOfFood_ID, "3")
                                                <label>Cold</label>
                                                @Html.RadioButtonFor(model => model.FormOfFood_ID, "4")
                                                <label>Cake</label>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-10">
                                                <input type="submit" value="Create" class="btn" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>


            <div class="modal fade apps-modal" id="appsModal" tabindex="-1" role="dialog" aria-labelledby="appsModalLabel" aria-hidden="true" data-backdrop="false">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ik ik-x-circle"></i></button>
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="quick-search">
                            <div class="container">
                                <div class="row">
                                    <div class="col-md-4 ml-auto mr-auto">
                                        <div class="input-wrap">
                                            <input type="text" id="quick-search" class="form-control" placeholder="Search..." />
                                            <i class="ik ik-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-body d-flex align-items-center">
                            <div class="container">
                                <div class="apps-wrap">
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
                                    </div>
                                    <div class="app-item dropdown">
                                        <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ik ik-command"></i><span>Ui</span></a>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                            <a class="dropdown-item" href="#">Action</a>
                                            <a class="dropdown-item" href="#">Another action</a>
                                            <a class="dropdown-item" href="#">Something else here</a>
                                        </div>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-mail"></i><span>Message</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-users"></i><span>Accounts</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-shopping-cart"></i><span>Sales</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-briefcase"></i><span>Purchase</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-server"></i><span>Menus</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-clipboard"></i><span>Pages</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-message-square"></i><span>Chats</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-map-pin"></i><span>Contacts</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-box"></i><span>Blocks</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-calendar"></i><span>Events</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-bell"></i><span>Notifications</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-pie-chart"></i><span>Reports</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-layers"></i><span>Tasks</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-edit"></i><span>Blogs</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-settings"></i><span>Settings</span></a>
                                    </div>
                                    <div class="app-item">
                                        <a href="#"><i class="ik ik-more-horizontal"></i><span>More</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="..Temp/src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="../dist/js/theme.min.js"></script>
    <script src="../js/forms.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');</script>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
