﻿@model IEnumerable<G4_TaToOr_SE1504_SP22_Official.Models.Product>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TaToOr - Product Management</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="../../img/logo/logo2.png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/node_modules/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/node_modules/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="~/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="~/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/node_modules/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/node_modules/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/node_modules/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="~/node_modules/c3/c3.min.css">
    <link rel="stylesheet" href="~/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/node_modules/owl.carousel/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/node_modules/owl.carousel/dist/assets/owl.theme.default.css">
    <link rel="stylesheet" href="~/dist/css/theme.min.css">
    <script src="../src/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>
        .navigation-main {
            background-color: white;
            border-radius: 10px;
        }

        .card-body {
            background-color: white;
        }

        th, td {
            padding: 15px;
            font-size: 120%
        }

        thead {
            text-align: justify;
            background-color: #FFF3E1;
        }

        .app-sidebar {
            color: white;
        }

        .nav-item {
            padding: 3%;
        }
    </style>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrapper">
        <div class="page-wrap">
            <div class="app-sidebar" style="background-color: #FFF3E1 ">
                <div class="sidebar-header">

                    <a class="header-brand" href="@Url.Action("Index", "Home")">
                        <div class="logo-img">
                            <img src="~/img/logo/logo2.png" class="header-brand-img" alt="lavalite" idth="80px" height="50px">

                            <span class="text">TaToOr</span>
                        </div>

                    </a>
              
                </div>
                @if (ViewBag.Id == 0)
                {
                    <div class="sidebar-content">
                        <div class="nav-container">
                            <nav id="main-menu-navigation" class="navigation-main">
                                <div class="nav-lavel" style="color: white; background-color: #945305 "><i class="ik ik-settings"></i>Admin Management</div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("UserManagerIndex", "AdminUser")" style="color:orange; font-weight: bold"><i class="ik ik-user-plus"></i>User Management</a>
                                </div>
                                <div class="nav-item active ">
                                    <a href="@Url.Action("ShowAllProduct", "ProductManagement")" style="color: orange; font-weight: bold "><i class="ik ik-archive"></i>Product Management</a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("ShowAllBill", "BillManagement")" style="color: orange; font-weight: bold "><i class="ik ik-shopping-cart"></i>Order Management</a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("ReviewIndex", "Review")" style="color: orange; font-weight: bold "><i class="ik ik-message-circle"></i><span>Review Management</span></a>
                                </div>
                                <div class="nav-item  ">
                                    <a href="@Url.Action("Index", "Statistical")" style="color: orange; font-weight: bold "><i class="ik ik-bar-chart-2" style="color: orange"></i><span>Statistic Management</span></a>
                                </div>

                            </nav>
                        </div>
                    </div>
                }
                @if (ViewBag.Id == 1)
                {

                    <div class="sidebar-content">
                        <div class="nav-container">
                            <nav id="main-menu-navigation" class="navigation-main">
                                <div class="nav-lavel" style="color: white; background-color: #945305 "><i class="ik ik-settings"></i>Staff Management</div>

                                <div class="nav-item active">
                                    <a href="@Url.Action("StaffIndex", "Staff")" style="color: orange; font-weight: bold "><i class="ik ik-archive"></i>Product Management</a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("ShowAllBill", "BillManagement")" style="color: orange; font-weight: bold "><i class="ik ik-shopping-cart"></i>Order Management</a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("ReviewIndex", "Review")" style="color: orange; font-weight: bold "><i class="ik ik-message-circle"></i><span>Review Management</span></a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("Index", "Statistical")" style="color: orange; font-weight: bold "><i class="ik ik-bar-chart-2" style="color: orange"></i><span>Statistic Management</span></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                }

            </div>

            <div class="main-content">
                <div class="container-fluid">
                    <div class="container-fluid">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state" style="text-align: center">
                                                <h3>Total of product</h3>
                                                <h2 class="center">@ViewBag.All</h2>
                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-award"></i>
                                            </div>
                                        </div>
                                        @*<small class="text-small mt-10 d-block">6% higher than last month</small>*@
                                    </div>
                                    @*<div class="progress progress-sm">
                                            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="62" aria-valuemin="0" aria-valuemax="100" style="width: 62%;"></div>
                                        </div>*@
                                </div>
                            </div>


                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>Available</h6>
                                                @if (ViewBag.AvailableProduct.Count == 0)
                                                {


                                                    <h2>:> All product are sold out</h2>
                                                }
                                                else
                                                { <h2>@ViewBag.AvailableProduct.Count</h2>}



                                            </div>
                                            <div class="icon">
                                                <i class="ik ik-thumbs-up"></i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>Sold Out</h6>
                                                @if (ViewBag.SoldOutProduct.Count == 0)
                                                {

                                                    <h2>No products are sold out</h2>}
                                                else
                                                {<h2>@ViewBag.SoldOutProduct.Count</h2>}

                                            </div>
                                        </div>
                                    </div>
                                </div>




                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12">
                                <div class="widget">
                                    <div class="widget-body">
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="state">
                                                <h6>Waiting for Admin approve delete</h6>
                                                @if (ViewBag.DeletedProduct.Count == 0)
                                                {

                                                    <h4>Waiting for the administrator to approve the deletion</h4>}
                                                else
                                                {<h2>@ViewBag.DeletedProduct.Count</h2>}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="card">
                            <div class="card-header row">
                                <div class="col col-sm-3">
                                    <div class="card-options d-inline-block">

                                        <a href="@Url.Action("StaffCreateNewProduct", "Staff")" class="logo"><i class="ik ik-plus"></i></a>

                                        
                                    </div>
                                </div>
                                <div class="col col-sm-6">
                                    <div class="card-search with-adv-search dropdown">
                                        <form action="">
                                            <input type="text" class="form-control global_filter" id="global_filter" placeholder="Search.." required>
                                            <button type="submit" class="btn btn-icon"><i class="ik ik-search"></i></button>
                                            <button type="button" id="adv_wrap_toggler" class="adv-btn ik ik-chevron-down dropdown-toggle" data-toggle="dropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>
                                        </form>
                                    </div>
                                </div>
                                
                            </div>
                            <div class="card-body">
                                <table id="advanced_table" class="col-md-12">
                                    <thead>
                                        <tr>
                                            <th>Names</th>
                                            <th>Price</th>
                                            <th>Description</th>
                                            <th>Star</th>
                                            <th>Status </th>
                                            <th>Origin</th>
                                            <th>Type_Of_Food</th>
                                            <th> Form_Of_Food</th>
                                            <th>Option</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var item in Model)                 //hiển thị tất cả sản phẩm có trong db
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Product_Name)

                                                </td>
                                                <td>
                                                    @String.Format("{0:0,0 VNĐ}", item.Product_Price)

                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Product_Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(modelItem => item.Product_Star)
                                                </td>
                                                <td>
                                                    @(item.ProductStatu == null ? "" : item.ProductStatu.ProductStatus_Detail)

                                                </td>
                                                <td>
                                                    @(item.Origin == null ? "" : item.Origin.Origin_Detail)
                                                </td>
                                                <td>
                                                    @(item.TypeOfFood == null ? "" : item.TypeOfFood.TypeOfFood_Detail)
                                                </td>
                                                <td>
                                                    @(item.FormOfFood == null ? "" : item.FormOfFood.FormOfFood_Detail)
                                                </td>
                                                <td>

                                                    <div class="table-actions">
                                                        <a href="StaffUpload/@item.Product_ID"><i class="ik ik-image"></i></a>
                                                        <a href="StaffEditProduct/@item.Product_ID"><i class="ik ik-edit-1"></i></a>
                                                        <a href="StaffDeleteProduct/@item.Product_ID" onclick="return confirm('Are you sure you want to delete this?');"> <i class="ik ik-trash"></i></a>

                                                    </div>
                                                </td>
                                            </tr>
                                        }

                                    </tbody>

                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <aside class="right-sidebar">
                    <div class="sidebar-chat" data-plugin="chat-sidebar">
                        <div class="sidebar-chat-info">
                            <h6>Chat List</h6>
                            <form class="mr-t-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search for friends ...">
                                    <i class="ik ik-search"></i>
                                </div>
                            </form>
                        </div>
                        <div class="chat-list">
                            <div class="list-group row">
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Gene Newman">
                                    <figure class="user--online">
                                        <img src="img/users/1.jpg" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Gene Newman</span>  <span class="username">@*@gene_newman*@</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Billy Black">
                                    <figure class="user--online">
                                        <img src="img/users/2.jpg" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Billy Black</span>  <span class="username">@*@billyblack*@</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Herbert Diaz">
                                    <figure class="user--online">
                                        <img src="img/users/3.jpg" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Herbert Diaz</span>  <span class="username">@*@billyblack*@</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Sylvia Harvey">
                                    <figure class="user--busy">
                                        <img src="img/users/4.jpg" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Sylvia Harvey</span>  <span class="username">@*@billyblack*@</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item active" data-chat-user="Marsha Hoffman">
                                    <figure class="user--busy">
                                        <img src="img/users/5.jpg" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Marsha Hoffman</span>  <span class="username">@*@billyblack*@</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Mason Grant">
                                    <figure class="user--offline">
                                        <img src="img/users/1.jpg" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Mason Grant</span>  <span class="username">@*@billyblack*@</span> </span>
                                </a>
                                <a href="javascript:void(0)" class="list-group-item" data-chat-user="Shelly Sullivan">
                                    <figure class="user--offline">
                                        <img src="img/users/2.jpg" class="rounded-circle" alt="">
                                    </figure><span><span class="name">Shelly Sullivan</span>  <span class="username">@*@billyblack*@</span></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </aside>

                <div class="chat-panel" hidden>
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                            <a href="javascript:void(0);"><i class="ik ik-message-square text-success"></i></a>
                            <span class="user-name">John Doe</span>
                            <button type="button" class="close" aria-label="Close"><span aria-hidden="true">×</span></button>
                        </div>
                        <div class="card-body">
                            <div class="widget-chat-activity flex-1">
                                <div class="messages">
                                    <div class="message media reply">
                                        <figure class="user--online">
                                            <a href="#">
                                                <img src="img/users/3.jpg" class="rounded-circle" alt="">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>Epic Cheeseburgers come in all kind of styles.</p>
                                        </div>
                                    </div>
                                    <div class="message media">
                                        <figure class="user--online">
                                            <a href="#">
                                                <img src="img/users/1.jpg" class="rounded-circle" alt="">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>Cheeseburgers make your knees weak.</p>
                                        </div>
                                    </div>
                                    <div class="message media reply">
                                        <figure class="user--offline">
                                            <a href="#">
                                                <img src="img/users/5.jpg" class="rounded-circle" alt="">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>Cheeseburgers will never let you down.</p>
                                            <p>They'll also never run around or desert you.</p>
                                        </div>
                                    </div>
                                    <div class="message media">
                                        <figure class="user--online">
                                            <a href="#">
                                                <img src="img/users/1.jpg" class="rounded-circle" alt="">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>A great cheeseburger is a gastronomical event.</p>
                                        </div>
                                    </div>
                                    <div class="message media reply">
                                        <figure class="user--busy">
                                            <a href="#">
                                                <img src="img/users/5.jpg" class="rounded-circle" alt="">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>There's a cheesy incarnation waiting for you no matter what you palete preferences are.</p>
                                        </div>
                                    </div>
                                    <div class="message media">
                                        <figure class="user--online">
                                            <a href="#">
                                                <img src="img/users/1.jpg" class="rounded-circle" alt="">
                                            </a>
                                        </figure>
                                        <div class="message-body media-body">
                                            <p>If you are a vegan, we are sorry for you loss.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form action="javascript:void(0)" class="card-footer" method="post">
                            <div class="d-flex justify-content-end">
                                <textarea class="border-0 flex-1" rows="1" placeholder="Type your message here"></textarea>
                                <button class="btn btn-icon" type="submit"><i class="ik ik-arrow-right text-success"></i></button>
                            </div>
                        </form>
                    </div>
                </div>

                <footer class="footer">
                    <div class="w-100 clearfix">
                        <span class="text-center text-sm-left d-md-inline-block">Copyright © 2018 ThemeKit v2.0. All Rights Reserved.</span>
                        <span class="float-none float-sm-right mt-1 mt-sm-0 text-center">Crafted with <i class="fa fa-heart text-danger"></i> by <a href="http://lavalite.org/" class="text-dark" target="_blank">Lavalite</a></span>
                    </div>
                </footer>

            </div>
        </div>




        <div class="modal fade apps-modal" id="appsModal" tabindex="-1" role="dialog" aria-labelledby="appsModalLabel" aria-hidden="true" data-backdrop="false">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ik ik-x-circle"></i></button>
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="quick-search">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-4 ml-auto mr-auto">
                                    <div class="input-wrap">
                                        <input type="text" id="quick-search" class="form-control" placeholder="Search..." />
                                        <i class="ik ik-search"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-body d-flex align-items-center">
                        <div class="container">
                            <div class="apps-wrap">
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
                                </div>
                                <div class="app-item dropdown">
                                    <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ik ik-command"></i><span>Ui</span></a>
                                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <a class="dropdown-item" href="#">Action</a>
                                        <a class="dropdown-item" href="#">Another action</a>
                                        <a class="dropdown-item" href="#">Something else here</a>
                                    </div>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-mail"></i><span>Message</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-users"></i><span>Accounts</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-shopping-cart"></i><span>Sales</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-briefcase"></i><span>Purchase</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-server"></i><span>Menus</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-clipboard"></i><span>Pages</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-message-square"></i><span>Chats</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-map-pin"></i><span>Contacts</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-box"></i><span>Blocks</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-calendar"></i><span>Events</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-bell"></i><span>Notifications</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-pie-chart"></i><span>Reports</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-layers"></i><span>Tasks</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-edit"></i><span>Blogs</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-settings"></i><span>Settings</span></a>
                                </div>
                                <div class="app-item">
                                    <a href="#"><i class="ik ik-more-horizontal"></i><span>More</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
        <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <script src="../node_modules/screenfull/dist/screenfull.js"></script>
        <script src="../node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
        <script src="../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="../node_modules/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
        <script src="../node_modules/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
        <script src="../node_modules/jvectormap/jquery-jvectormap.min.js"></script>
        <script src="../node_modules/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script>
        <script src="../node_modules/moment/moment.js"></script>
        <script src="../node_modules/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
        <script src="../node_modules/d3/dist/d3.min.js"></script>
        <script src="../node_modules/c3/c3.min.js"></script>
        <script src="../js/tables.js"></script>
        <script src="../js/widgets.js"></script>
        <script src="../js/charts.js"></script>
        <script src="../dist/js/theme.min.js"></script>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                    function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
                e = o.createElement(i); r = o.getElementsByTagName(i)[0];
                e.src = 'https://www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
        ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');
        </script>
</body>
</html>