﻿@model IEnumerable<G4_TaToOr_SE1504_SP22_Official.Models.User>
@{
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>User Manager ( Admin Site )</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="../../img/logo/logo2.png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/node_modules/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/node_modules/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="~/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="~/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/node_modules/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/node_modules/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/node_modules/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="~/node_modules/c3/c3.min.css">
    <link rel="stylesheet" href="~/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/node_modules/owl.carousel/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/node_modules/owl.carousel/dist/assets/owl.theme.default.css">
    <link rel="stylesheet" href="~/dist/css/theme.min.css">
    <script src="../src/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>
        .navigation-main {
            background-color: white;
            border-radius: 10px;
        }

        .card-body {
            background-color: white;
        }

        th, td {
            padding: 15px;
            font-size: 120%
        }

        thead {
            text-align: justify;
            background-color: #FFF3E1;
        }

        .app-sidebar {
            color: white;
        }

        .nav-item {
            padding: 3%;
        }
    </style>
</head>

<body>
    @*Hiển thị thông báo trạng thái mà admin tạo người dùng hoặc update!!!*@
    @if (ViewBag.Status != null)
    {
        <script>
            alert("@ViewBag.Status")
        </script>
    }
    <div class="wrapper">
        <div class="page-wrap">
            <div class="app-sidebar" style="background-color: #FFF3E1 ">
                <div class="sidebar-header">

                    <a class="header-brand" href="@Url.Action("Index", "Home")">
                        <div class="logo-img">
                            <img src="~/img/logo/logo2.png" class="header-brand-img" alt="lavalite" idth="80px" height="50px">

                            <span class="text">TaToOr</span>
                        </div>

                    </a>
                    <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
                    <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
                </div>

                <div class="sidebar-content">
                    <div class="nav-container">
                        <nav id="main-menu-navigation" class="navigation-main">
                            <div class="nav-lavel" style="color: white; background-color: #945305 "><i class="ik ik-settings"></i>Admin Management</div>
                            <div class="nav-item active">
                                <a href="@Url.Action("UserManagerIndex", "AdminUser")" style="color:orange; font-weight: bold"><i class="ik ik-user-plus"></i>User Management</a>
                            </div>
                            <div class="nav-item ">
                                <a href="@Url.Action("ShowAllProduct", "ProductManagement")" style="color: orange; font-weight: bold "><i class="ik ik-archive"></i>Product Management</a>
                            </div>
                            <div class="nav-item ">
                                <a href="@Url.Action("ShowAllBill", "BillManagement")" style="color: orange; font-weight: bold "><i class="ik ik-shopping-cart"></i>Order Management</a>
                            </div>
                            <div class="nav-item ">
                                <a href="index.html" style="color: orange; font-weight: bold "><i class="ik ik-message-circle"></i><span>Review Management</span></a>
                            </div>
                            <div class="nav-item  ">
                                <a href="@Url.Action("Index", "Statistical")" style="color: orange; font-weight: bold "><i class="ik ik-bar-chart-2" style="color: orange"></i><span>Statistic Management</span></a>
                            </div>

                        </nav>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div class="container-fluid">
                    <div class="row clearfix">

                        @*Widget all account*@
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget">
                                <div class="widget-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="state">
                                            <h6>ALL Account</h6>
                                            <h2>
                                                @Model.ToList().Count
                                            </h2>
                                        </div>
                                        <div class="icon">
                                            <i class="ik ik-award"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-success" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;"></div>
                                </div>
                            </div>
                        </div>
                        @*Widget Deleted*@
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget">
                                <div class="widget-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="state">
                                            <h6>Deleted</h6>
                                            <h2>@ViewBag.CountDeleted</h2>
                                        </div>
                                        <div class="icon">
                                            <i class="ik ik-thumbs-up"></i>
                                        </div>
                                    </div>
                                    <small class="text-small mt-10 d-block">@ViewBag.PercentDeleted% out of 100%</small>
                                </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.PercentDeleted%;"></div>
                                </div>
                            </div>
                        </div>


                        @*Widget User*@
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget">
                                <div class="widget-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="state">
                                            <h6>Customer</h6>
                                            <h2>@ViewBag.CountUser</h2>
                                        </div>
                                        <div class="icon">
                                            <i class="ik ik-thumbs-up"></i>
                                        </div>
                                    </div>
                                    <small class="text-small mt-10 d-block">@ViewBag.PercentUser% out of 100%</small>
                                </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-light-blue" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.PercentUser%;"></div>
                                </div>
                            </div>
                        </div>

                        @*Widget Staff*@
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget">
                                <div class="widget-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="state">
                                            <h6>Staff</h6>
                                            <h2>@ViewBag.CountStaff</h2>
                                        </div>
                                        <div class="icon">
                                            <i class="ik ik-thumbs-up"></i>
                                        </div>
                                    </div>
                                    <small class="text-small mt-10 d-block">@ViewBag.PercentStaff% out of 100%</small>
                                </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.PercentStaff%;"></div>
                                </div>
                            </div>
                        </div>
                        @*Widget Admin*@
                        <div class="col-lg-2 col-md-6 col-sm-12">
                            <div class="widget">
                                <div class="widget-body">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div class="state">
                                            <h6>Admin</h6>
                                            <h2>@ViewBag.CountAdmin</h2>
                                        </div>
                                        <div class="icon">
                                            <i class="ik ik-thumbs-up"></i>
                                        </div>
                                    </div>
                                    <small class="text-small mt-10 d-block">@ViewBag.PercentAdmin% out of 100%</small>
                                </div>
                                <div class="progress progress-sm">
                                    <div class="progress-bar bg-orange" role="progressbar" aria-valuenow="78" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.PercentAdmin%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-header row">
                            <div class="col col-sm-3">
                                <div class="card-options d-inline-block">

                                    <a href="CreateUserbyAdmin"><i class="ik ik-plus"></i></a>


                                </div>
                            </div>


                            <div class="col col-sm-9">
                                <div class="card-options text-right">
                                    <span class="mr-5" id="top">1 - 50 of 2,500</span>
                                    <a href="#"><i class="ik ik-chevron-left"></i></a>
                                    <a href="#"><i class="ik ik-chevron-right"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <table id="advanced_table" class="table">
                                        <thead>
                                            <tr>
                                                <th>Type Of User</th>
                                                <th>Account</th>
                                                <th class="nosort">Name</th>

                                                <th class="nosort">Gender</th>

                                                <th>Date Of Birth</th>
                                                <th class="nosort">Address</th>
                                                <th class="nosort">Email</th>
                                                <th class="nosort">Note</th>
                                                <th class="nosort">Option</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @foreach (var item in Model)
                                            {
                                                <tr>
                                                    <td>@(item.TypeOfUser==null?"":item.TypeOfUser.TypeOfUser_Detail)</td>
                                                    <td>@Html.DisplayFor(modelItem => item.User_Name)</td>
                                                    <td> @Html.DisplayFor(modelItem => item.User_Account) </td>
                                                    <td>@(item.GenderOfUser==null?"":item.GenderOfUser.GenderOfUser_Detail)</td>
                                                    <td>@item.User_DateOfBirth.ToString("dd-MM-yyyy")</td>
                                                    <td>
                                                        <textarea class="bg-dark text-white" readonly>@item.User_Address </textarea>
                                                    </td>
                                                    <td>@Html.DisplayFor(modelItem => item.User_Email) </td>
                                                    <td>@Html.DisplayFor(modelItem => item.User_Note)</td>
                                                    <td>
                                                        <div class="table-actions">
                                                            @*<a href="#"><i class="ik ik-eye"></i></a>*@
                                                            <a href="EditUserbyAdmin/@item.User_ID"><i class="ik ik-edit-2"></i></a>
                                                            <a href="Delete/@item.User_ID"><i class="ik ik-trash-2"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header"><h3>Data Table</h3></div>
                                    <div class="card-body">
                                        <table id="data_table" class="table">
                                            <thead>
                                                <tr>
                                                    <th>Id</th>
                                                    <th class="nosort">Avatar</th>
                                                    <th>Name</th>
                                                    <th>Email</th>
                                                    <th class="nosort">&nbsp;</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>001</td>
                                                    <td><img src="../img/users/1.jpg" class="table-user-thumb" alt=""></td>
                                                    <td>Erich Heaney</td>
                                                    <td>erich@example.com</td>
                                                    <td>
                                                        <div class="table-actions">
                                                            <a href="#"><i class="ik ik-eye"></i></a>
                                                            <a href="#"><i class="ik ik-edit-2"></i></a>
                                                            <a href="#"><i class="ik ik-trash-2"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>002</td>
                                                    <td><img src="../img/users/2.jpg" class="table-user-thumb" alt=""></td>
                                                    <td>Abraham Douglas</td>
                                                    <td>jgraham@example.com</td>
                                                    <td>
                                                        <div class="table-actions">
                                                            <a href="#"><i class="ik ik-eye"></i></a>
                                                            <a href="#"><i class="ik ik-edit-2"></i></a>
                                                            <a href="#"><i class="ik ik-trash-2"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>003</td>
                                                    <td><img src="../img/users/3.jpg" class="table-user-thumb" alt=""></td>
                                                    <td>Roderick Simonis</td>
                                                    <td>grant.simonis@example.com</td>
                                                    <td>
                                                        <div class="table-actions">
                                                            <a href="#"><i class="ik ik-eye"></i></a>
                                                            <a href="#"><i class="ik ik-edit-2"></i></a>
                                                            <a href="#"><i class="ik ik-trash-2"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>004</td>
                                                    <td><img src="../img/users/4.jpg" class="table-user-thumb" alt=""></td>
                                                    <td>Christopher Henry</td>
                                                    <td>henry.chris@example.com</td>
                                                    <td>
                                                        <div class="table-actions">
                                                            <a href="#"><i class="ik ik-eye"></i></a>
                                                            <a href="#"><i class="ik ik-edit-2"></i></a>
                                                            <a href="#"><i class="ik ik-trash-2"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>005</td>
                                                    <td><img src="../img/users/5.jpg" class="table-user-thumb" alt=""></td>
                                                    <td>Sonia Wilkinson</td>
                                                    <td>boyle.aglea@example.com</td>
                                                    <td>
                                                        <div class="table-actions">
                                                            <a href="#"><i class="ik ik-eye"></i></a>
                                                            <a href="#"><i class="ik ik-edit-2"></i></a>
                                                            <a href="#"><i class="ik ik-trash-2"></i></a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>



                    </div>
                </div>
            </div>
        </div>



        <footer class="footer">
            <div class="w-100 clearfix">
                <span class="text-center text-sm-left d-md-inline-block">Copyright © 2018 ThemeKit v2.0. All Rights Reserved.</span>
                <span class="float-none float-sm-right mt-1 mt-sm-0 text-center">Crafted with <i class="fa fa-heart text-danger"></i> by <a href="http://lavalite.org/" class="text-dark" target="_blank">Lavalite</a></span>
            </div>
        </footer>

    </div>






    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="~/ThemeKitFile/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/ThemeKitFile/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/ThemeKitFile/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="~/ThemeKitFile/node_modules/screenfull/dist/screenfull.js"></script>
    <script src="~/ThemeKitFile/node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="~/ThemeKitFile/node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/ThemeKitFile/node_modules/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/ThemeKitFile/node_modules/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="~/ThemeKitFile/node_modules/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/ThemeKitFile/node_modules/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/ThemeKitFile/node_modules/moment/moment.js"></script>
    <script src="~/ThemeKitFile/node_modules/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="~/ThemeKitFile/node_modules/d3/dist/d3.min.js"></script>
    <script src="~/ThemeKitFile/node_modules/c3/c3.min.js"></script>
    <script src="~/ThemeKitFile/js/tables.js"></script>
    <script src="~/ThemeKitFile/js/widgets.js"></script>
    <script src="~/ThemeKitFile/js/charts.js"></script>
    <script src="~/ThemeKitFile/dist/js/theme.min.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');</script>
</body>
</html>
