﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreteBillFinished</title>
    <link href="~/css/billcreatefinished.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="shipper">
        <img src="~/img/shipper.jpg" />
    </div>
    <h4 class="shipper-heading">Create Bill Successfully!</h4>
    <p class="shipper-text">Your order is being approved by admin, sorry to keep you waiting!</p>

    <div class="shipper">
        <a class="shipper-return" href="~/Home/Index">Return to Menu</a>
    </div>
</body>
</html>
