﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CreteBillFinished</title>
    <link href="~/css/billfinished.css" type="text/css" rel="stylesheet" />
</head>
<body>
    <div class="shipper">
        <img src="~/img/shipper.jpg" />
    </div>
    <h4 class="shipper-heading">Create Bill Finished</h4>
    <p class="shipper-text">You wait admin approve ..</p>
  
    <div class="shipper">
        <a class="shipper-return" href="~/Home/Index">Return to Home</a>
    </div>
</body>
</html>
