﻿@model G4_TaToOr_SE1504_SP22_Official.Models.Statistical
@{
    Layout = null;


}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TaToOr-Statistical</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="../../img/logo/logo2.png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/node_modules/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="~/node_modules/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="~/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/node_modules/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="~/node_modules/owl.carousel/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/node_modules/owl.carousel/dist/assets/owl.theme.default.css">
    <link rel="stylesheet" href="~/node_modules/chartist/dist/chartist.css">
    <link rel="stylesheet" href="~/dist/css/theme.min.css">
    <script src="~/src/js/vendor/modernizr-2.8.3.min.js"></script>

    <style>
        .navigation-main {
            background-color: white;
            border-radius: 10px;
        }

        .card-body {
            background-color: white;
        }

        th, td {
            padding: 15px;
            font-size: 120%
        }

        thead {
            text-align: justify;
            background-color: #FFF3E1;
        }

        .app-sidebar {
            color: white;
        }

        .nav-item {
            padding: 3%;
        }
    </style>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrapper">


        <div class="page-wrap">
            <div class="app-sidebar" style="background-color: #FFF3E1 ">
                <div class="sidebar-header">

                    <a class="header-brand" href="@Url.Action("Index", "Home")">
                        <div class="logo-img">
                            <img src="~/img/logo/logo2.png" class="header-brand-img" alt="lavalite" idth="80px" height="50px">

                            <span class="text">TaToOr</span>
                        </div>

                    </a>
                    <button type="button" class="nav-toggle"><i data-toggle="expanded" class="ik ik-toggle-right toggle-icon"></i></button>
                    <button id="sidebarClose" class="nav-close"><i class="ik ik-x"></i></button>
                </div>


                @if (ViewBag.Id == 0)
                {
                    <div class="sidebar-content">
                        <div class="nav-container">
                            <nav id="main-menu-navigation" class="navigation-main">
                                <div class="nav-lavel" style="color: white; background-color: #945305 "><i class="ik ik-settings"></i>Admin Management</div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("UserManagerIndex", "AdminUser")" style="color:orange; font-weight: bold"><i class="ik ik-user-plus"></i>User Management</a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("ShowAllProduct", "ProductManagement")" style="color: orange; font-weight: bold "><i class="ik ik-archive"></i>Product Management</a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("ShowAllBill", "BillManagement")" style="color: orange; font-weight: bold "><i class="ik ik-shopping-cart"></i>Order Management</a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("ReviewIndex", "Review")" style="color: orange; font-weight: bold "><i class="ik ik-message-circle"></i><span>Review Management</span></a>
                                </div>
                                <div class="nav-item active ">
                                    <a href="@Url.Action("Index", "Statistical")" style="color: orange; font-weight: bold "><i class="ik ik-bar-chart-2" style="color: orange"></i><span>Statistic Management</span></a>
                                </div>

                            </nav>
                        </div>
                    </div>
                }
                @if (ViewBag.Id == 1)
                {

                    <div class="sidebar-content">
                        <div class="nav-container">
                            <nav id="main-menu-navigation" class="navigation-main">
                                <div class="nav-lavel" style="color: white; background-color: #945305 "><i class="ik ik-settings"></i>Staff Management</div>

                                <div class="nav-item ">
                                    <a href="@Url.Action("StaffIndex", "Staff")" style="color: orange; font-weight: bold "><i class="ik ik-archive"></i>Product Management</a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("ShowAllBill", "BillManagement")" style="color: orange; font-weight: bold "><i class="ik ik-shopping-cart"></i>Order Management</a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("ReviewIndex", "Review")" style="color: orange; font-weight: bold "><i class="ik ik-message-circle"></i><span>Review Management</span></a>
                                </div>
                                <div class="nav-item active">
                                    <a href="@Url.Action("Index", "Statistical")" style="color: orange; font-weight: bold "><i class="ik ik-bar-chart-2" style="color: orange"></i><span>Statistic Management</span></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                }





            </div>
            <div class="main-content">
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row align-items-end">
                            @using (Html.BeginForm())
                            {
                                <div class="col-lg-12">
                                    <div class="form-group row">
                                        <h2>Please choose the time you want to Statistical:</h2>
                                        <h3>@ViewBag.value2 @ViewBag.value1</h3>
                                        <div class="col-sm-5">


                                            <input class="form-control form-control-success" type="date" name="value1" placeholder="dd-mm-yyyy" min="1997-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" required value="@ViewBag.value1" />
                                            @Html.HiddenFor(model => model.value1)
                                        </div>
                                        <div class="col-sm-5">

                                            <input class="form-control form-control-danger" type="date" name="value2" placeholder="dd-mm-yyyy" min="1997-01-01" max="@DateTime.Now.ToString("yyyy-MM-dd")" required value="@ViewBag.value2" />
                                            @Html.HiddenFor(model => model.value2)

                                        </div>
                                        <div class="col-sm-2"><button type="submit" class="btn btn-warning">Submit</button> </div>

                                    </div>
                                </div>
                            }


                        </div>
                    </div>
                    @if (ViewBag.listBillAvailable != null && ViewBag.listBillAvailable.Count != 0)
                    {


                        <div class="row">
                            @if (ViewBag.Product_Name != null)
                            {

                                <div class="col-xl-3 col-md-6">
                                    <div class="card sale-card">
                                        <div class="card-header">
                                            <h3>Best Seller </h3>
                                        </div>
                                        <div class="card-block text-center">
                                            @if (ViewBag.imageproductlink != null)
                                            {
                                                <a href="~/Products/Productdetail/@ViewBag.Product_ID">
                                                    <div data-label="100%" class="radial-bar radial-bar-100 radial-bar-lg radial-bar-success">
                                                        <img src="@ViewBag.imageproductlink" alt="Product-Image">
                                                    </div>
                                                </a>

                                            }

                                            <div class="row">

                                                <div class="col-6">
                                                    <a href="~/Products/Productdetail/@ViewBag.Product_ID">
                                                        <h5 class="fw-700 mb-0">Product</h5>
                                                        <p class="mb-0">@ViewBag.Product_Name</p>
                                                    </a>
                                                </div>

                                                <div class="col-6 border-left">
                                                    <h5 class="fw-700 mb-0">@ViewBag.Quantity</h5>
                                                    <p class="mb-0">Quantity</p>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                            @*Widget tổng doanh thu *@
                            @if (ViewBag.Revenue != null)
                            {
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="widget bg-warning">
                                        <div class="widget-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="state">
                                                    <h6>Earnings</h6>
                                                    <h2>@String.Format("{0:0,0 VNĐ}", @ViewBag.Revenue) </h2>
                                                </div>
                                                <div class="icon">
                                                    <i class="ik ik-inbox"></i>
                                                </div>

                                            </div>
                                            <h5><br />@ViewBag.value1 to @ViewBag.value2</h5>
                                        </div>
                                    </div>
                                </div>
                            }

                            @*Widget đơn hàng thành công *@
                            @if (ViewBag.BillSucessCount != 0 && ViewBag.BillSucessCount != null)
                            {<div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="widget bg-success">
                                        <div class="widget-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="state">
                                                    <h6>Sold Successfully</h6>
                                                    <h2>@ViewBag.BillSucessCount (Bill)</h2>
                                                    <h2>@ViewBag.listdetailbill.Count  (Product)</h2>
                                                </div>
                                                <div class="icon">
                                                    <i class="ik ik-shopping-cart"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>}

                            @*Widget đơn hàng thất bại *@
                            @if (ViewBag.BillFailCount != 0 && ViewBag.BillFailCount != null)
                            {
                                <div class="col-lg-3 col-md-6 col-sm-12">
                                    <div class="widget bg-danger">
                                        <div class="widget-body">
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="state">
                                                    <h6>Sold Fail</h6>
                                                    <h2>@ViewBag.BillFailCount (Bill)</h2>
                                                </div>
                                                <div class="icon">
                                                    <i class="ik ik-x-circle"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }

                        </div>





                        @*Bảng đặt hàng thành công*@
                        if (ViewBag.Detail != null)
                        {
                            <div class="card">
                                <div class="card-header d-block">
                                    <h3>Sold Successfully Details</h3>
                                </div>
                                <div class="card-body">
                                    <div class="dt-responsive">
                                        <table id="order-table"
                                               class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>Product ID</th>
                                                    <th>Product Name</th>
                                                    <th>Product Quantity</th>
                                                    <th>Total amount earned</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in ViewBag.Detail)
                                                {
                                                    <tr>
                                                        <td>@item.Product_ID</td>
                                                        <td>@item.Product_Name</td>
                                                        <td>@item.Product_Quantity</td>
                                                        <td> @String.Format("{0:0,0 VNĐ}", @item.Product_TotalMoneyOfProduct)</td>
                                                    </tr>
                                                }

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>Product ID</th>
                                                    <th>Product Name</th>
                                                    <th>Product Quantity</th>
                                                    <th>Total amount earned</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }


                        @*Bảng boom hàng*@
                        if (ViewBag.listBoomDetail != null)
                        {
                            <div class="card">
                                <div class="card-header d-block">
                                    <h3>Sold Fail Details</h3>
                                </div>
                                <div class="card-body">
                                    <div class="dt-responsive">
                                        <table id="order-table"
                                               class="table table-striped table-bordered nowrap">
                                            <thead>
                                                <tr>
                                                    <th>User ID </th>
                                                    <th>Product ID</th>
                                                    <th>Product Name</th>
                                                    <th>Product Quantity</th>
                                                    <th>Total amount earned</th>
                                                </tr>
                                            </thead>
                                            <tbody>

                                                @foreach (var item in ViewBag.listBoomDetail)
                                                {
                                                    <tr>
                                                        <td>@item.User_ID</td>
                                                        <td>@item.Product_ID</td>
                                                        <td>@item.Product_Name</td>
                                                        <td>@item.Product_Quantity</td>
                                                        <td>@String.Format("{0:0,0 VNĐ}", @item.Product_TotalMoneyOfProduct)</td>
                                                    </tr>
                                                }

                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <th>User ID</th>
                                                    <th>Product ID</th>
                                                    <th>Product Name</th>
                                                    <th>Product Quantity</th>
                                                    <th>Total amount earned</th>
                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                    else
                    {
                        <h1>No data for this period</h1>
                    }
                </div>
            </div>
            <footer class="footer">
                <div class="w-100 clearfix">
                    <span class="textenter text-sm-left d-md-inline-block">Copyright © 2018 ThemeKit v1.0. All Rights Reserved.</span>
                    <span class="float-none float-sm-right mt-1 mt-sm-0 textenter">Crafted with <i class="fa fa-heart text-danger"></i> by <a href="http://lavalite.org/" class="text-dark" target="_blank">Lavalite</a></span>
                </div>
            </footer>
        </div>
    </div>





    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="~/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="~/node_modules/screenfull/dist/screenfull.js"></script>
    <script src="~/node_modules/owl.carousel/dist/owl.carousel.min.js"></script>
    <script src="~/node_modules/chartist/dist/chartist.min.js"></script>
    <script src="~/node_modules/flot-charts/jquery.flot.js"></script>
    <script src="~/node_modules/flot-charts/jquery.flot.categories.js"></script>
    <script src="~/node_modules/flot.curvedlines/curvedLines.js"></script>
    <script src="~/node_modules/jquery.flot.tooltip/js/jquery.flot.tooltip.js"></script>
    <script src="~/node_modules/jquery-knob/dist/jquery.knob.min.js"></script>
    <script src="~/node_modules/amcharts3/amcharts/amcharts.js"></script>
    <script src="~/node_modules/amcharts3/amcharts/gauge.js"></script>
    <script src="~/node_modules/amcharts3/amcharts/serial.js"></script>
    <script src="~/node_modules/amcharts3/amcharts/themes/light.js"></script>
    <script src="~/node_modules/amcharts3/amcharts/pie.js"></script>
    <script src="~/node_modules/ammap3/ammap/ammap.js"></script>
    <script src="~/node_modules/ammap3/ammap/maps/js/usaLow.js"></script>

    <script src="~/dist/js/theme.min.js"></script>
    <script src="~/js/widget-chart.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');
    </script>
</body>
</html>
