﻿.shipper {
    text-align:center;
    width:100%;
    height:auto;
   
}
.shipper img {
    width:30%;
    height:30%;
}
.shipper-heading {
    text-align:center;
    color:#39cc26;
    font-size: 35px;
    margin-bottom:10px;
}
.shipper-text{
    text-align:center;
    font-size:20px;
}
.shipper-return {
    text-decoration: none;
    font-size: 20px;
     padding:10px;
    border-radius:8px;  
    background-color: #39cc26;
    color:#ffffff;
}
.shipper-return:hover {
    opacity:0.7;
   
}
