@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.spi {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-15%);
    font-size: 20px;
    color: black;
    cursor: pointer;
    display: none;
}

#InputPass:valid ~ span {
    display: block;
}

.spi i.hide-btn::before {
    content: "\F340";
    color: aqua;
}