﻿.methodpaymentcss {
    display: flex;
    flex-direction: row;
    margin-right: 14px;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}

    .methodpaymentcss label {
        margin-bottom: 0px;
        margin-left: 7px;
    }
