﻿@model G4_TaToOr_SE1504_SP22_Official.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Login</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/HideShowPass.css" />
    <link rel="icon" type="image/png" href="../../img/logo/logo2.png" />
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/node_modules/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="/node_modules/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="/dist/css/theme.min.css">
    <script src="/src/js/vendor/modernizr-2.8.3.min.js"></script>
    <script src="https://apis.google.com/js/api:client.js"></script>
    <style>

        .text-danger {
            color: red;
        }

        .logo-re {
            height: 250%;
            width: 250%;
        }

        #customBtn {
            display: inline-block;
            background: white;
            color: #444;
            width: 130px;
            border-radius: 5px;
            border: thin solid #888;
            box-shadow: 1px 1px 1px grey;
            white-space: nowrap;
        }

            #customBtn:hover {
                cursor: pointer;
            }

        span.label {
            font-family: serif;
            font-weight: normal;
        }

        span.icon {
            background: url('/img/Google__G__Logo.svg.png') transparent 5px 50% no-repeat;
            background-size: 30px 30px;
            display: inline-block;
            vertical-align: middle;
            width: 42px;
            height: 42px;
        }

        span.buttonText {
            display: inline-block;
            vertical-align: middle;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            font-weight: bold;
            /* Use the Roboto font that is loaded in the <head> */
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="auth-wrapper">
            <div class="container-fluid h-100">
                <div class="row flex-row h-100 bg-white">
                    <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                        <div class="lavalite-bg text-center" style="background-image: url('/img/Vietnamese.jpg')">

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                        <div class="authentication-form mx-auto">
                            <div class="logo-centered ">
                                <a href="@Url.Action("Index", "Home")"><img src="../../img/logo/logo2.png" alt="Logo" width="100em" height="100em"></a>
                            </div>
                            <h3 class="text-center">Sign in to TaToOr</h3>
                            <p class="text-center">Welcome to my website!</p>

                            <div class="form-group">
                                <i class="ik ik-user"></i>
                                @*<input type="text" class="form-control" placeholder="Email" required="" value="johndoe@admin.com">*@
                                <span class="control-label col-md-2">Username</span>
                                @*@Html.LabelFor(model => model.User_Account, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-14">
                                    @Html.EditorFor(model => model.User_Account, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your username", @required = "" } })
                                    @Html.ValidationMessageFor(model => model.User_Account, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="form-group">
                                <i class="ik ik-lock"></i>
                                <span class="control-label col-md-2">Password</span>
                                @*<input type="password" class="form-control" placeholder="Password" required="" value="123456">*@
                                @*@Html.LabelFor(model => model.User_Password, htmlAttributes: new { @class = "control-label col-md-2" })*@
                                <div class="col-md-14">
                                    @Html.EditorFor(model => model.User_Password, new { htmlAttributes = new { @class = "form-control", @placeholder = "Enter your password", @required = "", @type = "password", @id = "InputPass" } })
                                    <span class="spi">
                                        <i class="bi bi-eye"></i>
                                    </span>
                                    @Html.ValidationMessageFor(model => model.User_Password, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="text-danger text-center">@ViewBag.Error</div>
                            <div class="sign-btn text-center">
                                <button class="btn btn-theme">Sign In</button>
                            </div>
                            <div class="sign-btn text-center">
                                <div id="gSignInWrapper">
                                    <span class="label">Sign in with:</span>
                                    <div id="customBtn" class="customGPlusSignIn">
                                        <span class="icon"></span>
                                        <span class="buttonText">Google</span>
                                    </div>
                                </div>
                            </div>


                            <div class="register">
                                <p>Don't have an account? <a href="@Url.Action("Registration", "Register")">Create an account</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script>
            //Ẩn Hiện pass
            const passField = document.getElementById("InputPass");
            const showBtn = document.querySelector("span i");
            var icon = document.getElementsByClassName("spi");
            showBtn.onclick = (() => {
                if (passField.type === "password") {
                    passField.type = "text";
                    showBtn.classList.add("hide-btn");
                } else {
                    passField.type = "password";
                    showBtn.classList.remove("hide-btn");
                }
            });
            ////////////
            var googleUser = {};
            var startApp = function () {
                gapi.load('auth2', function () {

                    auth2 = gapi.auth2.init({
                        client_id: '305348181639-9qrmud3co69lbv6l5nqv4qcd24dqtvkk.apps.googleusercontent.com',
                        cookiepolicy: 'single_host_origin',

                    });
                    attachSignin(document.getElementById('customBtn'));
                });
            };

            function attachSignin(element) {
                console.log(element.id);
                auth2.attachClickHandler(element, {},
                    function (googleUser) {
                        var profile = googleUser.getBasicProfile();
                        var creuser = {
                            User_Name: profile.getName(),
                            User_Email: profile.getEmail()
                        };
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', '/Register/GoogleResponse');
                        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                        xhr.onload = function () {
                            window.location.href = "/Register/GoogleRegister";
                        };
                        xhr.send('info=' + JSON.stringify(creuser));

                    }, function (error) {
                        alert(JSON.stringify(error, undefined, 2));
                    });
            }
        </script>
        <script>startApp();</script>

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
        <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <script src="/node_modules/screenfull/dist/screenfull.js"></script>
        <script src="/dist/js/theme.js"></script>

    }
</body>
</html>
