﻿@model G4_TaToOr_SE1504_SP22_Official.Models.User

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body>
    <div>
        @Html.ActionLink("Index", "Home");
    </div>
</body>
</html>
