﻿@model G4_TaToOr_SE1504_SP22_Official.Models.ReviewFile

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Product Detail</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="../../img/logo/logo2.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/slick/slick.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/MagnificPopup/magnific-popup.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
    <style>
        .dynamicimg {
            height: 50px;
            margin: 10px;
        }
    </style>
</head>
<body class="animsition">

    <!-- Header -->
    <header class="header-v4">
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full container">


                    <div class="right-top-bar flex-w h-full">



                        <a href="@Url.Action("EditPersonalInfo","User")" class="flex-c-m trans-04 p-lr-25">
                            My Account
                        </a>

                    </div>
                </div>
            </div>

            <div class="wrap-menu-desktop how-shadow1">
                <nav class="limiter-menu-desktop container">

                    <!-- Logo desktop -->
                    <a href="@Url.Action("Index", "Home")" class="logo">
                        <img src="../../img/logo/logo2.png" alt="IMG-LOGO">
                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li>
                                <a href="@Url.Action("Index", "Home")">Home</a>

                            </li>

                            <li class="active-menu">
                                <a href="@Url.Action("ShowProducts", "Products")">Menu</a>
                            </li>


                            <li>
                                <a href="@Url.Action("OrderHistory", "OrderHistory")" class="flex-c-m trans-04 p-lr-25">
                                    Order History
                                </a>
                            </li>

                        </ul>
                    </div>

                    <!-- Icon header -->
                    <div class="wrap-icon-header flex-w flex-r-m">
                        @*<div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 js-show-modal-search">
                            <i class="zmdi zmdi-search"></i>
                        </div>*@

                        <div class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti js-show-cart" data-notify="@ViewBag.yourcart.Count">
                            <i class="zmdi zmdi-shopping-cart"></i>


                        </div>
                        @*<a href="@Url.Action("Login", "Login")" class="dis-block icon-header-item cl2 hov-cl1 trans-04 p-l-22 "><i class="fa fa-user" aria-hidden="true"></i></a>*@

                        @*<a href="@Url.Action("Index", "Home")" class="icon-header-item cl2 hov-cl1 trans-04 p-l-22 p-r-11 icon-header-noti" data-notify="0">
                            <i class="zmdi zmdi-favorite-outline"></i>
                        </a>*@
                    </div>
                </nav>
            </div>
        </div>

        <!-- Cart -->
        <div class="wrap-header-cart js-panel-cart">
            <div class="s-full js-hide-cart"></div>

            <div class="header-cart flex-col-l p-l-65 p-r-25">
                <div class="header-cart-title flex-w flex-sb-m p-b-8">
                    <span class="mtext-103 cl2">
                        Your Cart
                    </span>

                    <div class="fs-35 lh-10 cl2 p-lr-5 pointer hov-cl1 trans-04 js-hide-cart">
                        <i class="zmdi zmdi-close"></i>
                    </div>
                </div>

                <div class="header-cart-content flex-w js-pscroll">
                    <ul class="header-cart-wrapitem w-full">
                        @*Hiển thị giỏ hàng nhanh khi click vào biểu tượng giỏ hàng, dưới đây là hàm xử lí*@
                        @if (ViewBag.yourcart != null)
                        {


                            if (ViewBag.yourcart.Count != 0)
                            {
                                <p>
                                    @* Hiển thi tên và địa chỉ*@
                                    Hello: @ViewBag.yourcart[0].Cart.User.User_Name<br />

                                    Your Address: @ViewBag.yourcart[0].Cart.User.User_Address <br /><br />
                                </p>
                            }

                            foreach (var item in ViewBag.yourcart)
                            {
                                <li class="header-cart-item flex-w flex-t m-b-12">
                                    <a href="~/Products/Delete/@item.Product_ID" onclick="return confirm('Are you sure you want to delete this?');">
                                        <div class="header-cart-item-img">
                                            @*hiển thị tấm ảnh đầu tiên*@
                                            @foreach (var itempic in ViewBag.PicYourCart)
                                            {
                                                if (itempic.Product_ID == @item.Product_ID)
                                                {
                                                    <img src="@itempic.Picture_Link.Trim()" alt="IMG">
                                                    break;
                                                }
                                            }
                                        </div>
                                    </a>
                                    @*Hiển thị tên sản phẩm*@
                                    @*Hiển thị tên sản phẩm*@
                                    <div class="header-cart-item-txt p-t-8">
                                        <a href="~/Products/Productdetail/@item.Product.Product_ID" class="header-cart-item-name m-b-18 hov-cl1 trans-04">
                                            @item.Product.Product_Name x @item.CartDetail_QuantityProduct
                                        </a>
                                        @*Hiển thị bằng giá tiền*@
                                        <span class="header-cart-item-info">
                                            @String.Format("{0:0,0 VNĐ}", @item.CartDetail_TotalOfProduct)

                                        </span>
                                    </div>
                                </li>
                            }
                        }

                    </ul>

                    <div class="w-full">
                        <div class="header-cart-total w-full p-tb-40">
                            @*Total: $75.00*@
                        </div>

                        <div class="header-cart-buttons flex-w w-full">
                            <a href="@Url.Action("ShowCartDetail", "CartDetail")" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-r-8 m-b-10">
                                View Cart

                            </a>

                            <a href="@Url.Action("ShowBill", "Bill")" class="flex-c-m stext-101 cl0 size-107 bg3 bor2 hov-btn3 p-lr-15 trans-04 m-b-10">
                                Create Bill
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>





        <!-- Product Detail -->



        <section class="sec-product-detail bg0 p-t-65 p-b-60">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-7 p-b-30">
                        <div class="p-l-25 p-r-30 p-lr-0-lg">
                            <div class="wrap-slick3 flex-sb flex-w">
                                <div class="wrap-slick3-dots"></div>
                                <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>
                                <div class="slick3 gallery-lb">


                                    @foreach (var item in ViewBag.PD.Pictures)
                                    {
                                        <div class="item-slick3" data-thumb="@item.Picture_Link.Trim()">
                                            <div class="wrap-pic-w pos-relative">
                                                <img src="@item.Picture_Link.Trim()" alt="IMG-PRODUCT">

                                                <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="@item.Picture_Link.Trim()">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-5 p-b-30">
                        <div class="p-r-50 p-t-5 p-lr-0-lg">
                            <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                                @ViewBag.PD.Product_Name
                                <span class="fs-18 cl11">
                                    <i class="zmdi zmdi-star"></i>
                                </span>
                                @ViewBag.PD.Product_Star

                            </h4>

                            <span class="mtext-106 cl2">
                                @String.Format("{0:0,0 VNĐ}", @ViewBag.PD.Product_Price)

                            </span>

                            <p class="stext-102 cl3 p-t-23">
                                @ViewBag.PD.Product_Description

                            </p>

                            <!--  -->
                            <div class="p-t-33">
                                <div class="flex-w flex-r-m p-b-10">
                                    <div class="size-203 flex-c-m respon6">
                                        Status
                                    </div>

                                    <div class="size-204 respon6-next">

                                        @ViewBag.PD.ProductStatu.ProductStatus_Detail

                                    </div>
                                </div>

                                @*<div class="flex-w flex-r-m p-b-10">
                                    <div class="size-203 flex-c-m respon6">
                                        Color
                                    </div>

                                    <div class="size-204 respon6-next">
                                        <div class="rs1-select2 bor8 bg0">
                                            <select class="js-select2" name="time">
                                                <option>Choose an option</option>
                                                <option>Red</option>
                                                <option>Blue</option>
                                                <option>White</option>
                                                <option>Grey</option>
                                            </select>
                                            <div class="dropDownSelect2"></div>
                                        </div>
                                    </div>
                                </div>*@

                                <div class="flex-w flex-r-m p-b-10">
                                    <form action="@Url.Action("AddToCartProductDetail","Cart", new {id = ViewBag.PD.Product_ID})" method="post">
                                        <div class="size-204 flex-w flex-m respon6-next">
                                            @*<div class="form-group">*@
                                            <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-minus"></i>
                                            </div>

                                            <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1" min="1" max="50">
                                            <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                <i class="fs-16 zmdi zmdi-plus"></i>
                                            </div>
                                            @*</div>*@

                                            <input class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail" name="submit" type="submit" value=" Add to cart">
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <!--  -->
                            <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                                <div class="flex-m bor9 p-r-10 m-r-11">
                                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                        <i class="zmdi zmdi-favorite"></i>
                                    </a>
                                </div>

                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>

                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>

                                <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bor10 m-t-50 p-t-43 p-b-40">
                    <!-- Tab01 -->
                    <div class="tab01">
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs" role="tablist">
                            <li class="nav-item p-b-10">
                                <a class="nav-link active" data-toggle="tab" href="#description" role="tab">Description</a>
                            </li>

                            <li class="nav-item p-b-10">
                                <a class="nav-link" data-toggle="tab" href="#information" role="tab">Additional information</a>
                            </li>

                            <li class="nav-item p-b-10">
                                <a class="nav-link" data-toggle="tab" href="#reviews" role="tab">Reviews (@ViewBag.RvPD.Count)</a>
                            </li>
                        </ul>

                        <!-- Tab panes -->
                        <div class="tab-content p-t-43">
                            <!-- - -->
                            <div class="tab-pane fade show active" id="description" role="tabpanel">
                                <div class="how-pos2 p-lr-15-md">
                                    <p class="stext-102 cl6">
                                        @ViewBag.PD.Product_Description
                                    </p>
                                </div>
                            </div>

                            <!-- - -->
                            <div class="tab-pane fade" id="information" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">
                                        <ul class="p-lr-28 p-lr-15-sm">
                                            <li class="flex-w flex-t p-b-7">
                                                <span class="stext-102 cl3 size-205">
                                                    Origin
                                                </span>

                                                <span class="stext-102 cl6 size-206">
                                                    @ViewBag.PD.Origin.Origin_Detail
                                                </span>
                                            </li>

                                            <li class="flex-w flex-t p-b-7">
                                                <span class="stext-102 cl3 size-205">
                                                    Types of Food
                                                </span>

                                                <span class="stext-102 cl6 size-206">
                                                    @ViewBag.PD.TypeOfFood.TypeOfFood_Detail

                                                </span>
                                            </li>

                                            <li class="flex-w flex-t p-b-7">
                                                <span class="stext-102 cl3 size-205">
                                                    Taste
                                                </span>

                                                <span class="stext-102 cl6 size-206">
                                                    @foreach (var item in ViewBag.Taste)
                                                    {
                                                        @item.Taste_Detail
                                                    }
                                                </span>
                                            </li>

                                            @*<li class="flex-w flex-t p-b-7">
                                                <span class="stext-102 cl3 size-205">
                                                    Color
                                                </span>

                                                <span class="stext-102 cl6 size-206">
                                                    Black, Blue, Grey, Green, Red, White
                                                </span>
                                            </li>*@

                                            @*<li class="flex-w flex-t p-b-7">
                                                <span class="stext-102 cl3 size-205">
                                                    Size
                                                </span>

                                                <span class="stext-102 cl6 size-206">
                                                    XL, L, M, S
                                                </span>
                                            </li>*@
                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <!-- - -->
                            <div class="tab-pane fade" id="reviews" role="tabpanel">
                                <div class="row">
                                    <div class="col-sm-10 col-md-8 col-lg-6 m-lr-auto">

                                        <div class="p-b-30 m-lr-15-sm">
                                            @if (Session["id"] != null)//kiểm tra xem ngdùng đăng nhập chưa
                                            {

                                                if (ViewBag.checkPro == 1) // nếu =1 thì hiện form thêm review
                                                {

                                                    <!-- Add review -->
                                                    <div class="container">
                                                        <div class=" mx-auto p-1 text-white text-center">
                                                            <a href="#demo" class="btn btn-info" data-toggle="collapse">Add New Review</a>
                                                        </div>
                                                        <div id="demo" class="collapse">
                                                            @using (Html.BeginForm("CreateReview", "UserReview", FormMethod.Post, new { enctype = "multipart/form-data" }))
                                                            {
                                                                @Html.AntiForgeryToken()
                                                                <form class="w-full">
                                                                    <h5 class="mtext-108 cl2 p-b-7">
                                                                        Add a review
                                                                    </h5>
                                                                    <span>
                                                                        <input type="hidden" name="Product_ID" value="@ViewBag.PD.Product_ID" />
                                                                        @Html.HiddenFor(model => model.Product_ID)
                                                                    </span>

                                                                    <div class="flex-w flex-m p-t-50 p-b-23">
                                                                        <span class="stext-102 cl3 m-r-16">
                                                                            Your Rating
                                                                        </span>

                                                                        <span class="wrap-rating fs-18 cl11 pointer">
                                                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                                            <i class="item-rating pointer zmdi zmdi-star-outline"></i>
                                                                            <input class="dis-none" type="number" name="rating" required>
                                                                            @Html.HiddenFor(model => model.Review_Rate)
                                                                            @Html.ValidationMessageFor(model => model.Review_Rate, "", new { @class = "text-danger" })
                                                                        </span>
                                                                    </div>
                                                                    <div class="flex-w flex-m p-t-50 p-b-23">
                                                                        <p> Upload Image: </p>
                                                                        <div class="form-group">
                                                                            <input type="file" id="files" name="files" onchange="loadFile(event)" multiple />
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div id="dynamicImage">

                                                                            </div>
                                                                        </div>


                                                                    </div>
                                                                    <div class="row p-b-25">
                                                                        <div class="col-12 p-b-5">
                                                                            <label class="stext-102 cl3" for="review">Your review</label>
                                                                            <textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" name="Review_Comment" required></textarea>
                                                                            @Html.HiddenFor(model => model.Review_Comment)

                                                                            @Html.ValidationMessageFor(model => model.Review_Comment, "", new { @class = "text-danger" })
                                                                        </div>

                                                                        <button class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10" onclick=" alert('Your review is waiting to be accept. Please wait. Thanks!!!')">
                                                                            Submit
                                                                        </button>
                                                                    </div>
                                                                </form>
                                                            }
                                                        </div>
                                                    </div>

                                                }
                                                else if (ViewBag.checkPro == 2)// nếu =2 thì hiện form sửa review
                                                {
                                                    //Edit review
                                                    <div class="container">
                                                        <div class=" mx-auto p-1 text-white text-center">
                                                            <a href="#demo" class="btn btn-info" data-toggle="collapse">Edit review</a>
                                                        </div>
                                                        <div id="demo" class="collapse">

                                                            @for (int i = 0; i < ViewBag.Review.Count; i++)
                                                            {
                                                                var item = ViewBag.Review[i];
                                                                if (item.Product_ID == ViewBag.PD.Product_ID)
                                                                {
                                                                    using (Html.BeginForm("EditReview", "UserReview", FormMethod.Post))
                                                                    {
                                                                        @Html.AntiForgeryToken()
                                                                        <form class="w-full">
                                                                            <h5 class="mtext-108 cl2 p-b-7">
                                                                                Edit review
                                                                            </h5>
                                                                            <span>
                                                                                <input type="hidden" name="Review_ID" value="@item.Review_ID" />
                                                                                @Html.HiddenFor(model => model.Review_ID)

                                                                            </span>
                                                                            <span>
                                                                                <input type="hidden" name="Product_ID" value="@ViewBag.PD.Product_ID" />
                                                                                @Html.HiddenFor(model => model.Product_ID)

                                                                            </span>
                                                                            <span>
                                                                                <input type="hidden" name="User_ID" value="@item.User_ID" />
                                                                                @Html.HiddenFor(model => model.User_ID)

                                                                            </span>

                                                                            <p class="stext-102 cl6">
                                                                                Your email address will not be published. Required fields are marked *
                                                                            </p>

                                                                            <div class="flex-w flex-m p-t-50 p-b-23">
                                                                                <span class="stext-102 cl3 m-r-16">
                                                                                    Your Rating
                                                                                </span>

                                                                                <span class="wrap-rating fs-18 cl11 pointer">
                                                                                    <i class="item-rating pointer zmdi zmdi-star-outline">1</i>
                                                                                    <i class="item-rating pointer zmdi zmdi-star-outline">2</i>
                                                                                    <i class="item-rating pointer zmdi zmdi-star-outline">3</i>
                                                                                    <i class="item-rating pointer zmdi zmdi-star-outline">4</i>
                                                                                    <i class="item-rating pointer zmdi zmdi-star-outline">5</i>
                                                                                    <input class="dis-none" type="number" name="rating" required>
                                                                                    @Html.HiddenFor(model => model.Review_Rate)
                                                                                    @Html.ValidationMessageFor(model => model.Review_Rate, "", new { @class = "text-danger" })
                                                                                </span>
                                                                            </div>
                                                                            <div class="row p-b-25">
                                                                                <div class="col-12 p-b-5">
                                                                                    <label class="stext-102 cl3" for="review">Your review</label>
                                                                                    <textarea class="size-110 bor8 stext-102 cl2 p-lr-20 p-tb-10" name="Review_Comment" required>@item.Review_Comment.Trim()</textarea>
                                                                                    @Html.HiddenFor(model => model.Review_Comment)
                                                                                    @Html.ValidationMessageFor(model => model.Review_Comment, "", new { @class = "text-danger" })
                                                                                </div>

                                                                                <button class="flex-c-m stext-101 cl0 size-112 bg7 bor11 hov-btn3 p-lr-15 trans-04 m-b-10" onclick=" alert('Your review is waiting to be accept. Please wait. Thanks!!!!')">
                                                                                    Edit
                                                                                </button>
                                                                            </div>
                                                                        </form>
                                                                    }

                                                                }

                                                            }
                                                        </div>
                                                    </div>
                                                }
                                            }


                                            <!--Show Review -->
                                            <div class="flex-w flex-t p-b-68">
                                                @*<div class="wrap-pic-s size-109 bor0 of-hidden m-r-18 m-t-6">
                                                    <img src="images/avatar-01.jpg" alt="AVATAR">
                                                </div>*@
                                                @foreach (var itemRV in ViewBag.RvPD)
                                                {
                                                    <div class="size-207">
                                                        <div class="flex-w flex-sb-m p-b-17">
                                                            <span class="mtext-107 cl2 p-r-20">
                                                                @itemRV.User.User_Name.Trim()
                                                                <span class="fs-18 cl11" style="margin-left:10px">
                                                                    <i class="zmdi zmdi-star"></i>
                                                                </span>
                                                                @itemRV.Review_Rate
                                                                <div>


                                                                    @foreach (var itempicrv in ViewBag.PicRV)
                                                                    {
                                                                        if (itemRV.Review_ID == itempicrv.Review_ID)
                                                                        {
                                                                            <img style="height:4em;width:6em;" src="@itempicrv.Picture_Link.Trim()" alt="IMG REVIEW">
                                                                        }
                                                                    }
                                                                </div>
                                                            </span>

                                                        </div>

                                                        <p class="stext-102 cl6">
                                                            @*Quod autem in homine praestantissimum atque optimum est, id deseruit. Apud ceteros autem philosophos*@
                                                            @itemRV.Review_Comment.Trim()
                                                        </p>
                                                    </div>
                                                }

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </section>


        <!-- Recommend Products -->
        <section class="sec-relate-product bg0 p-t-45 p-b-105">
            <div class="container">
                <div class="p-b-45">
                    <h3 class="ltext-106 cl5 txt-center">
                        Recommend Products
                    </h3>
                </div>

                <!-- Slide2 -->
                <div class="wrap-slick2">
                    <div class="slick2">

                        @foreach (var Re in ViewBag.RE)
                        {
                            if (Re.TypeOfFood_ID == ViewBag.PD.TypeOfFood_ID)// xét loại sản phẩm
                            {
                                <div class="item-slick2 p-l-15 p-r-15 p-t-15 p-b-15">
                                    <!-- Block2 -->
                                    <div class="block2">
                                        @foreach (var pic in ViewBag.REPIC)// dòng for kiểm tra hình ảnh
                                        {
                                            if (Re.Product_ID == pic.Product_ID)// xét sản phẩm
                                            {
                                                <div class="block2-pic hov-img0">


                                                    <img src="@pic.Picture_Link.Trim()" alt="IMG-PRODUCT" style="width:18em; height:13em;">


                                                </div>
                                                break;
                                            }
                                        }
                                        <div class="block2-txt flex-w flex-t p-t-14">
                                            <div class="block2-txt-child1 flex-col-l ">
                                                <a href="@Url.Action("Productdetail", "Products", new { id = Re.Product_ID })" class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
                                                    @Re.Product_Name
                                                </a>

                                                <span class="stext-105 cl3">
                                                    @String.Format("{0:0,0 VNĐ}", @Re.Product_Price)

                                                </span>
                                            </div>

                                            <div class="block2-txt-child2 flex-r p-t-3">
                                                <a href="@Url.Action("Cart","Cart",new { id = Re.Product_ID })">
                                                    <i class="zmdi zmdi-shopping-cart text-dark"></i>
                                                </a>
                                                @*<a href="#" class="btn-addwish-b2 dis-block pos-relative js-addwish-b2">
                                                    <img class="icon-heart1 dis-block trans-04" src="~/images/icons/icon-heart-01.png" alt="ICON">
                                                    <img class="icon-heart2 dis-block trans-04 ab-t-l" src="/images/icons/icon-heart-02.png" alt="ICON">
                                                </a>*@
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            }
                        }


                    </div>
                </div>
            </div>
        </section>


        <!-- Footer -->
        <footer class="bg3 p-t-75 p-b-32">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30">
                            TaToOr ( Tap To Order)
                        </h4>


                    </div>

                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30">
                            Est 2021
                        </h4>
                    </div>

                    <div class="col-sm-6 col-lg-3 p-b-50">
                        <h4 class="stext-301 cl0 p-b-30">
                            GET IN TOUCH
                        </h4>

                        <p class="stext-107 cl7 size-201">
                            Any questions? Let us know in store at 600, đường Nguyễn Văn Cừ (nối dài), phường An Bình, quận Ninh Kiều, TP. Cần Thơ | (0292) 360 1996
                        </p>

                    </div>


                </div>

                <div class="p-t-40">
                    <div class="flex-c-m flex-w p-b-18">
                        <a href="#" class="m-all-1">
                            <img src="~/img/credit/icon-pay-01.png" alt="ICON-PAY">
                        </a>

                        <a href="#" class="m-all-1">
                            <img src="~/img/credit/icon-pay-02.png" alt="ICON-PAY">
                        </a>

                        <a href="#" class="m-all-1">
                            <img src="~/img/credit/icon-pay-03.png" alt="ICON-PAY">
                        </a>

                        <a href="#" class="m-all-1">
                            <img src="~/img/credit/icon-pay-04.png" alt="ICON-PAY">
                        </a>

                        <a href="#" class="m-all-1">
                            <img src="~/img/credit/icon-pay-05.png" alt="ICON-PAY">
                        </a>
                    </div>

                    <p class="stext-107 cl6 txt-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;
                        <script>
                            document.write(new Date().getFullYear());
                        </script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                    </p>
                </div>
            </div>
        </footer>


        <!-- Back to top -->
        <div class="btn-back-to-top" id="myBtn">
            <span class="symbol-btn-back-to-top">
                <i class="zmdi zmdi-chevron-up"></i>
            </span>
        </div>

        <!-- Modal1 -->
        <div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
            <div class="overlay-modal1 js-hide-modal1"></div>

            <div class="container">
                <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                    <button class="how-pos3 hov3 trans-04 js-hide-modal1">
                        <img src="images/icons/icon-close.png" alt="CLOSE">
                    </button>

                    <div class="row">
                        <div class="col-md-6 col-lg-7 p-b-30">
                            <div class="p-l-25 p-r-30 p-lr-0-lg">
                                <div class="wrap-slick3 flex-sb flex-w">
                                    <div class="wrap-slick3-dots"></div>
                                    <div class="wrap-slick3-arrows flex-sb-m flex-w"></div>

                                    <div class="slick3 gallery-lb">
                                        <div class="item-slick3" data-thumb="images/product-detail-01.jpg">
                                            <div class="wrap-pic-w pos-relative">
                                                <img src="images/product-detail-01.jpg" alt="IMG-PRODUCT">

                                                <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-01.jpg">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item-slick3" data-thumb="images/product-detail-02.jpg">
                                            <div class="wrap-pic-w pos-relative">
                                                <img src="images/product-detail-02.jpg" alt="IMG-PRODUCT">

                                                <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-02.jpg">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                            </div>
                                        </div>

                                        <div class="item-slick3" data-thumb="images/product-detail-03.jpg">
                                            <div class="wrap-pic-w pos-relative">
                                                <img src="images/product-detail-03.jpg" alt="IMG-PRODUCT">

                                                <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04" href="images/product-detail-03.jpg">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-6 col-lg-5 p-b-30">
                            <div class="p-r-50 p-t-5 p-lr-0-lg">
                                <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                                    Lightweight Jacket
                                </h4>

                                <span class="mtext-106 cl2">
                                    $58.79
                                </span>

                                <p class="stext-102 cl3 p-t-23">
                                    Nulla eget sem vitae eros pharetra viverra. Nam vitae luctus ligula. Mauris consequat ornare feugiat.
                                </p>

                                <!--  -->
                                <div class="p-t-33">
                                    <div class="flex-w flex-r-m p-b-10">
                                        <div class="size-203 flex-c-m respon6">
                                            Size
                                        </div>

                                        <div class="size-204 respon6-next">
                                            <div class="rs1-select2 bor8 bg0">
                                                <select class="js-select2" name="time">
                                                    <option>Choose an option</option>
                                                    <option>Size S</option>
                                                    <option>Size M</option>
                                                    <option>Size L</option>
                                                    <option>Size XL</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex-w flex-r-m p-b-10">
                                        <div class="size-203 flex-c-m respon6">
                                            Color
                                        </div>

                                        <div class="size-204 respon6-next">
                                            <div class="rs1-select2 bor8 bg0">
                                                <select class="js-select2" name="time">
                                                    <option>Choose an option</option>
                                                    <option>Red</option>
                                                    <option>Blue</option>
                                                    <option>White</option>
                                                    <option>Grey</option>
                                                </select>
                                                <div class="dropDownSelect2"></div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="flex-w flex-r-m p-b-10">
                                        <div class="size-204 flex-w flex-m respon6-next">
                                            <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus"></i>
                                                </div>

                                                <input class="mtext-104 cl3 txt-center num-product" type="number" name="num-product" value="1">

                                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus"></i>
                                                </div>
                                            </div>

                                            <button class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail">
                                                Add to cart
                                            </button>
                                        </div>
                                    </div>
                                </div>

                                <!--  -->
                                <div class="flex-w flex-m p-l-100 p-t-40 respon7">
                                    <div class="flex-m bor9 p-r-10 m-r-11">
                                        <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 js-addwish-detail tooltip100" data-tooltip="Add to Wishlist">
                                            <i class="zmdi zmdi-favorite"></i>
                                        </a>
                                    </div>

                                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>

                                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>

                                    <a href="#" class="fs-14 cl3 hov-cl1 trans-04 lh-10 p-lr-5 p-tb-2 m-r-8 tooltip100" data-tooltip="Google Plus">
                                        <i class="fa fa-google-plus"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--===============================================================================================-->
        <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/animsition/js/animsition.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/bootstrap/js/popper.js"></script>
        <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/select2/select2.min.js"></script>
        <script>
            $(".js-select2").each(function () {
                $(this).select2({
                    minimumResultsForSearch: 20,
                    dropdownParent: $(this).next('.dropDownSelect2')
                });
            })
        </script>
        <!--===============================================================================================-->
        <script src="~/vendor/daterangepicker/moment.min.js"></script>
        <script src="~/vendor/daterangepicker/daterangepicker.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/slick/slick.min.js"></script>
        <script src="~/js/slick-custom.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/parallax100/parallax100.js"></script>
        <script>
            $('.parallax100').parallax100();
        </script>
        <!--===============================================================================================-->
        <script src="~/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
        <script>
            $('.gallery-lb').each(function () { // the containers for all your galleries
                $(this).magnificPopup({
                    delegate: 'a', // the selector for gallery item
                    type: 'image',
                    gallery: {
                        enabled: true
                    },
                    mainClass: 'mfp-fade'
                });
            });
        </script>
        <!--===============================================================================================-->
        <script src="~/vendor/isotope/isotope.pkgd.min.js"></script>
        <!--===============================================================================================-->
        <script src="~/vendor/sweetalert/sweetalert.min.js"></script>
        <script>
            var loadFile = function (event) {
                var files = event.target.files;
                for (var i = 0; i < files.length; i++) {
                    $("#dynamicImage").append("<img src='" + URL.createObjectURL(event.target.files[i]) + "'class='dynamicimg'/>");
                }
            }
        </script>
        <script>
            $('.js-addwish-b2, .js-addwish-detail').on('click', function (e) {
                e.preventDefault();
            });

            $('.js-addwish-b2').each(function () {
                var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
                $(this).on('click', function () {
                    swal(nameProduct, "is added to wishlist !", "success");

                    $(this).addClass('js-addedwish-b2');
                    $(this).off('click');
                });
            });

            $('.js-addwish-detail').each(function () {
                var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

                $(this).on('click', function () {
                    swal(nameProduct, "is added to wishlist !", "success");

                    $(this).addClass('js-addedwish-detail');
                    $(this).off('click');
                });
            });

            /*---------------------------------------------*/

            $('.js-addcart-detail').each(function () {
                var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
                $(this).on('click', function () {
                    swal(nameProduct, "is added to cart !", "success");
                });
            });

        </script>
        <!--===============================================================================================-->
        <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
        <script>
            $('.js-pscroll').each(function () {
                $(this).css('position', 'relative');
                $(this).css('overflow', 'hidden');
                var ps = new PerfectScrollbar(this, {
                    wheelSpeed: 1,
                    scrollingThreshold: 1000,
                    wheelPropagation: false,
                });

                $(window).on('resize', function () {
                    ps.update();
                })
            });
        </script>
        <!--===============================================================================================-->
        <script src="~/js/main.js"></script>





        @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Product_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product_Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product_Cost)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product_Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Product_Star)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ProductStatus_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Origin_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Type_ID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FormOfFood_ID)
                </th>
                <th></th>
            </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Cost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product_Star)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductStatus_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Origin_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type_ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.FormOfFood_ID)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
        }

        </table>*@
</body>
</html>
