﻿
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Error Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">
    <style>
        *,
        body {
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
        }

        * {
            line-height: 1.2;
            margin: 0;
        }

        html {
            color: #888;
            display: table;
            font-family: 'Nunito Sans', sans-serif;
            height: 100%;
            text-align: center;
            width: 100%;
        }

        .h1,
        .h2,
        .h3,
        .h4,
        .h5,
        .h6,
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Nunito Sans', sans-serif;
        }

        body {
            display: table-cell;
            vertical-align: middle;
            margin: 2em auto;
        }

        h1 {
            color: #ef4153;
            text-shadow: rgba(235, 82, 93, 0.3) 5px 1px, rgba(235, 82, 93, 0.2) 10px 3px;
            font-size: 150px;
            font-weight: 800;
            margin-bottom: 10px;
            letter-spacing: 2px;
        }

        h4 {
            color: #4a5361;
            text-transform: capitalize;
            font-size: 28px;
        }

        p {
            margin: 0 auto;
            max-width: 790px;
            margin-top: 20px;
            color: #666;
            margin-bottom: 10px;
            font-size: 15px;
            line-height: 20px;
        }

        a {
            display: inline-block;
            padding: 8px 15px;
            background-color: #ef4153;
            color: #fff;
            text-decoration: none;
            border-radius: 4px;
            margin-top: 20px;
        }

       
        }
    </style>
</head>

<body>
    <h1>Error!!!!</h1>
    <h4>You must log in to view Order history</h4>
    <p>Order history is a page that helps you to view your purchase history</p>
    <a href="@Url.Action("Index", "Home")">Return to Home</a>
    <a href="@Url.Action("Login", "Login")">Log in</a>
</body>

</html>
