﻿@model G4_TaToOr_SE1504_SP22_Official.Models.CartDetailUpdate

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Shoping Cart</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="img/png" href="imgs/icons/favicon.png" />
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/fonts/linearicons-v1.0.0/icon-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/vendor/perfect-scrollbar/perfect-scrollbar.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="~/css/util.css">
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!--===============================================================================================-->
</head>
<body class="animsition">

    <!-- Header -->
    <header class="header-v4">
        <!-- Header desktop -->
        <div class="container-menu-desktop">
            <!-- Topbar -->
            <div class="top-bar">
                <div class="content-topbar flex-sb-m h-full container">


                    <div class="right-top-bar flex-w h-full">

                        <a href="@Url.Action("EditPersonalInfo","User")" class="flex-c-m trans-04 p-lr-25">
                            My Account
                        </a>

                    </div>
                </div>
            </div>

            <div class="wrap-menu-desktop how-shadow1">
                <nav class="limiter-menu-desktop container">

                    <!-- Logo desktop -->
                    <a href="#" class="logo">
                        <img src="~/img/logo/logo2.png" alt="IMG-LOGO">
                    </a>

                    <!-- Menu desktop -->
                    <div class="menu-desktop">
                        <ul class="main-menu">
                            <li>
                                <a href="@Url.Action("Index", "Home")">Home</a>

                            </li>

                            <li class="active-menu">
                                <a href="@Url.Action("ShowProducts", "Products")">Menu</a>
                            </li>
                            <li>
                                <a href="@Url.Action("OrderHistory", "OrderHistory")" class="flex-c-m trans-04 p-lr-25">
                                    Order History
                                </a>
                            </li>
                        </ul>
                    </div>

                    <!-- Icon header -->

                </nav>
            </div>
        </div>


    </header>



    <!-- breadcrumb -->
    <div class="container">
        <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
            <a href="~/Home/Index" class="stext-109 cl8 hov-cl1 trans-04">
                Home
                <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
            </a>

            <span class="stext-109 cl4">
                Shoping Cart
            </span>
        </div>
    </div>


    <!-- Shoping Cart --> @*Giỏ hàng*@
    @using (Html.BeginForm("UpdateCartDetail", "CartDetail", FormMethod.Post, new { @class = "bg0 p-t-75 p-b-85" }))
    {

        <div class="container">
            <div class="row">

                <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                    <div class="m-l-25 m-r--38 m-lr-0-xl">
                        <div class="wrap-table-shopping-cart">
                            <table class="table-shopping-cart">
                                <tr class="table_head">
                                    <th class="column-1">Product</th>
                                    <th class="column-2"></th>
                                    <th class="column-3">Price</th>
                                    <th class="column-4">Quantity</th>
                                    <th class="column-5">Total</th>

                                </tr>


                                @for (int j = 0; j < Model.cartDetails.Count; j++)
                                {

                                    <tr class="table_row">

                                        <td class="column-1">
                                            <input type="hidden" value="@Model.cartDetails[j].Product_ID" id="getID" />
                                            <input type="hidden" value="@Model.cartDetails[j].Product.Product_Price" id="getProductPrice" />
                                            <a href="~/CartDetail/Delete/@Model.cartDetails[j].Product_ID" onclick="return confirm('Are you sure you want to delete this?');">
                                                <div class="how-itemcart1">

                                                    @foreach (var itempic in ViewBag.PIC)
                                                    {
                                                        if (itempic.Product_ID == Model.cartDetails[j].Product_ID)
                                                        {
                                                            <img src="@itempic.Picture_Link.Trim()" alt="IMG">
                                                            break;
                                                        }

                                                    }

                                                </div>
                                            </a>
                                        </td>

                                        <td class="column-2">
                                            @Html.DisplayFor(model => Model.cartDetails[j].Product.Product_Name)
                                        </td>
                                        <td class="column-3">@String.Format("{0:0,0 VNĐ}", @Model.cartDetails[j].Product.Product_Price)</td>
                                        <td class="column-4">
                                            <div class="wrap-num-product flex-w m-l-auto m-r-0">

                                                <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-minus" onclick="UpdateMoney()"></i>
                                                </div>

                                                @*<input class="mtext-104 cl3 txt-center num-product" name="cartDetails[j].CartDetail_QuantityProduct" type="number" min="1" max="50" value="@Model.cartDetails[j].CartDetail_QuantityProduct">*@
                                                @Html.EditorFor(model => model.cartDetails[j].CartDetail_QuantityProduct, new { htmlAttributes = new { @class = "mtext-104 cl3 txt-center num-product", type = "number", min = "1", max = "50", onclick = "UpdateMoney()", id = "getProductQuantity" } })
                                                <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                    <i class="fs-16 zmdi zmdi-plus" onclick="UpdateMoney()"></i>
                                                </div>
                                            </div>
                                        </td>
                                        <td class="column-5" id="setTotal">
                                            @String.Format("{0:0,0 VNĐ}", @Model.cartDetails[j].CartDetail_TotalOfProduct)

                                        </td>
                                    </tr>
                                    @Html.HiddenFor(model => Model.cartDetails[j].Product_ID)
                                    @Html.HiddenFor(model => Model.cartDetails[j].Cart_ID)
                                    @Html.HiddenFor(model => Model.cartDetails[j].CartDetail_ID)

                                }
                            </table>
                        </div>

                        <div class="flex-w flex-sb-m bor15 p-t-18 p-b-15 p-lr-40 p-lr-15-sm">
                            <div class="flex-w flex-m m-r-20 m-tb-5">
                                <div class="flex-c-m stext-101 cl2 size-118 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-5">

                                    <a href="@Url.Action("ShowBill", "Bill")">Create Bill</a>
                                </div>
                            </div>

                            <button type="submit" class="flex-c-m stext-101 cl2 size-119 bg8 bor13 hov-btn3 p-lr-15 trans-04 pointer m-tb-10">
                                Update Cart
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }




    <!-- Footer -->
    <footer class="bg3 p-t-75 p-b-32">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        TaToOr ( Tap To Order)
                    </h4>


                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        Est 2021
                    </h4>
                </div>

                <div class="col-sm-6 col-lg-3 p-b-50">
                    <h4 class="stext-301 cl0 p-b-30">
                        GET IN TOUCH
                    </h4>

                    <p class="stext-107 cl7 size-201">
                        Any questions? Let us know in store at 600, đường Nguyễn Văn Cừ (nối dài), phường An Bình, quận Ninh Kiều, TP. Cần Thơ | (0292) 360 1996
                    </p>

                </div>


            </div>

            <div class="p-t-40">
                <div class="flex-c-m flex-w p-b-18">
                    <a href="#" class="m-all-1">
                        <img src="~/img/credit/icon-pay-01.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/img/credit/icon-pay-02.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/img/credit/icon-pay-03.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/img/credit/icon-pay-04.png" alt="ICON-PAY">
                    </a>

                    <a href="#" class="m-all-1">
                        <img src="~/img/credit/icon-pay-05.png" alt="ICON-PAY">
                    </a>
                </div>

                <p class="stext-107 cl6 txt-center">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;
                    <script>
                        document.write(new Date().getFullYear());
                    </script> All rights reserved | Made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a> &amp; distributed by <a href="https://themewagon.com" target="_blank">ThemeWagon</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->

                </p>
            </div>
        </div>
    </footer>


    <!-- Back to top -->
    <div class="btn-back-to-top" id="myBtn">
        <span class="symbol-btn-back-to-top">
            <i class="zmdi zmdi-chevron-up"></i>
        </span>
    </div>

    <!--===============================================================================================-->
    <script src="~/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/bootstrap/js/popper.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/select2/select2.min.js"></script>
    <script>
        $(".js-select2").each(function () {
            $(this).select2({
                minimumResultsForSearch: 20,
                dropdownParent: $(this).next('.dropDownSelect2')
            });
        })</script>
    <!--===============================================================================================-->
    <script src="~/vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
    <!--===============================================================================================-->
    <script src="~/vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
    <script>
        $('.js-pscroll').each(function () {
            $(this).css('position', 'relative');
            $(this).css('overflow', 'hidden');
            var ps = new PerfectScrollbar(this, {
                wheelSpeed: 1,
                scrollingThreshold: 1000,
                wheelPropagation: false,
            });

            $(window).on('resize', function () {
                ps.update();
            })
        });</script>
    <!--===============================================================================================-->
    <script src="~/js/main.js"></script>
    <!--===============================================================================================-->
    <script>
        function UpdateMoney() {
            var getTotal;
            var productprice = document.querySelectorAll('#getProductPrice');
            var productquantity = document.querySelectorAll('#getProductQuantity');
            var producttotal = document.querySelectorAll('#setTotal');
            for (var i = 0; i < productprice.length; i++) {
                var getTotal = productprice[i].value * productquantity[i].value;
                producttotal[i].innerHTML = getTotal.toLocaleString('vi-VN', { style: 'currency', currency: 'VND' }) + "VNĐ";
            }
        }
    </script>
</body>
</html>
