﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>UpdateCartDetail</title>
</head>
<body>
    <div>
        <h1>Error</h1>
        @foreach (var item in ViewBag.ListDetail)
        {
            <a> ID: </a>@item.Product_ID<br />
            <a> Cart_ID: </a> @item.Cart_ID<br />
            <a> CartDetail_ID: </a> @item.CartDetail_ID<br />
    <a> CartDetail_TotalOfProduct: </a> @item.CartDetail_TotalOfProduct<br />
    <a> CartDetail_QuantityProduct: </a>       @item.CartDetail_QuantityProduct<br /><br />
        }
    </div>
 
</body>

</html>
