﻿@model G4_TaToOr_SE1504_SP22_Official.Models.CartDetail

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddCartDetail</title>
</head>
<body>
    @if (Session["id"] == null)
    {
        @Html.ActionLink("Login", "Login");
    }
    else
    {
        @Html.ActionLink("ShowProducts", "Products");
    }
</body>
</html>
