﻿@model G4_TaToOr_SE1504_SP22_Official.Models.Product

@{
    ViewBag.Title = "Create";
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Create New Product</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    
    <link rel="icon" type="image/png" href="../../img/logo/logo2.png" />
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../node_modules/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="../node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="../node_modules/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="../node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="../dist/css/theme.min.css">
    <script src="../src/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>
        body {
            line-height: 2.5;
            font-size: 1.2rem;
        }

        .btn {
            padding: 6px 18px;
            height: 60px;
            font-size: 23px;
        }
    </style>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrapper">
        <header class="header-top" header-theme="light">
            <div class="container-fluid">
                <div class="d-flex justify-content-between">
                    <div class="top-menu d-flex align-items-center">
                        <button type="button" class="btn-icon mobile-nav-toggle d-lg-none"><span></span></button>
                        <div class="header-search">
                            <div class="input-group">
                                <span class="input-group-addon search-close"><i class="ik ik-x"></i></span>
                                <input type="text" class="form-control">
                                <a href="@Url.Action("ShowAllProduct","ProductManagement")"><span class="input-group-addon search-btn"> <i class="ik ik-arrow-left"></i> Back to User Management</span></a>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </header>

        <div class="page-wrap">
            <div class="main-content">
                <div class="container-fluid">
                    <div class="page-header">
                        <div class="row align-items-end">
                            <div class="col-lg-8">
                                <div class="page-header-title">
                                    <div class="d-inline">
                                        <h5>Create New Product</h5>
                                        <span>TaToOr System Admin Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    @using (Html.BeginForm())
                    {
                        <div class="row">
                            <div class="col-md-10">
                                <div class="card">
                                    <div class="card-body">
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.Product_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Product_ID, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Product_ID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Product_Name, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Product_Name, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Product_Name, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Product_Price, htmlAttributes: new { @class = "control-label col-md-2"})
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Product_Price, new { htmlAttributes = new { @class = "form-control", Type = "number", @min = "1" } })
                                                @Html.ValidationMessageFor(model => model.Product_Price, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.Product_Description, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                <textarea @Html.EditorFor(model => model.Product_Description, new { htmlAttributes = new { @class = "form-control" } })>
                                                
                                                </textarea>

                                                @Html.ValidationMessageFor(model => model.Product_Description, "", new { @class = "text-danger" })
                                            </div>
                                        </div>
                                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.Product_Star, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.Product_Star, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Product_Star, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@

                                        @*<div class="form-group">
                                                @Html.LabelFor(model => model.ProductStatus_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                                <div class="col-md-10">
                                                    @Html.EditorFor(model => model.ProductStatus_ID, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.ProductStatus_ID, "", new { @class = "text-danger" })
                                                </div>
                                            </div>*@
                                    <div class="form-group row">
                                        @Html.LabelFor(model => model.Origin_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10">
                                            @Html.RadioButtonFor(model => model.Origin_ID, "1", htmlAttributes: new { @checked = "checked" })
                                            <label>Vietnam</label>
                                            @Html.RadioButtonFor(model => model.Origin_ID, "2")
                                            <label>Korea</label>
                                            @Html.RadioButtonFor(model => model.Origin_ID, "3")
                                            <label>Thailand</label>
                                            @Html.RadioButtonFor(model => model.Origin_ID, "4")
                                            <label>India</label>
                                            @Html.RadioButtonFor(model => model.Origin_ID, "5")
                                            <label>Japan</label>
                                            @Html.RadioButtonFor(model => model.Origin_ID, "6")
                                            <label>China</label>

                                        </div>
                                    </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.TypeOfFood_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.RadioButtonFor(model => model.TypeOfFood_ID, "0", htmlAttributes: new { @checked = "checked" })
                                                <label>Main course</label>
                                                @Html.RadioButtonFor(model => model.TypeOfFood_ID, "1")
                                                <label>Desert</label>
                                                @Html.RadioButtonFor(model => model.TypeOfFood_ID, "2")
                                                <label>Pastry</label>
                                                @Html.RadioButtonFor(model => model.TypeOfFood_ID, "3")
                                                <label>Diet</label>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            @Html.LabelFor(model => model.FormOfFood_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.RadioButtonFor(model => model.FormOfFood_ID, "1", htmlAttributes: new { @checked = "checked" })
                                                <label>Liquid</label>
                                                @Html.RadioButtonFor(model => model.FormOfFood_ID, "2")
                                                <label>Dry</label>
                                                @Html.RadioButtonFor(model => model.FormOfFood_ID, "3")
                                                <label>Cold</label>
                                                @Html.RadioButtonFor(model => model.FormOfFood_ID, "4")
                                                <label>Cake</label>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-10">
                                                <input type="submit" value="Create" class="btn" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                </div>

            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="..Temp/src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="../dist/js/theme.min.js"></script>
    <script src="../js/forms.js"></script>
    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');</script>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
