﻿@model G4_TaToOr_SE1504_SP22_Official.Models.Product

@{
    ViewBag.Title = "Edit";
    Layout = null;
}

<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TaToOr - Order Management</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="../../img/logo/logo2.png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/node_modules/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/node_modules/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="~/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="~/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/node_modules/datatables.net-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/node_modules/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/node_modules/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css">
    <link rel="stylesheet" href="~/node_modules/weather-icons/css/weather-icons.min.css">
    <link rel="stylesheet" href="~/node_modules/c3/c3.min.css">
    <link rel="stylesheet" href="~/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/node_modules/owl.carousel/dist/assets/owl.carousel.css">
    <link rel="stylesheet" href="~/node_modules/owl.carousel/dist/assets/owl.theme.default.css">
    <link rel="stylesheet" href="~/dist/css/theme.min.css">
    <script src="../src/js/vendor/modernizr-2.8.3.min.js"></script>
    <style>
        .navigation-main {
            background-color: white;
            border-radius: 10px;
        }

        .card-body {
            background-color: white;
        }

        .app-sidebar {
            color: white;
        }

        .nav-item {
            padding: 3%;
        }
    </style>
</head>

<body>
    <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="wrapper">
        <div class="page-wrap">
            <div class="app-sidebar" style="background-color: #FFF3E1 ">
                <div class="sidebar-header">

                    <a class="header-brand" href="@Url.Action("Index", "Home")">
                        <div class="logo-img">
                            <img src="~/img/logo/logo2.png" class="header-brand-img" alt="lavalite" idth="80px" height="50px">

                            <span class="text">TaToOr</span>
                        </div>

                    </a>
                </div>


                @if (ViewBag.Id == 0)
                {
                    <div class="sidebar-content">
                        <div class="nav-container">
                            <nav id="main-menu-navigation" class="navigation-main">
                                <div class="nav-lavel" style="color: white; background-color: #945305 "><i class="ik ik-settings"></i>Admin Management</div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("UserManagerIndex", "AdminUser")" style="color:orange; font-weight: bold"><i class="ik ik-user-plus"></i>User Management</a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("ShowAllProduct", "ProductManagement")" style="color: orange; font-weight: bold "><i class="ik ik-archive"></i>Product Management</a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("ShowAllBill", "BillManagement")" style="color: orange; font-weight: bold "><i class="ik ik-shopping-cart"></i>Order Management</a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("ReviewIndex", "Review")" style="color: orange; font-weight: bold "><i class="ik ik-message-circle"></i><span>Review Management</span></a>
                                </div>
                                <div class="nav-item active ">
                                    <a href="@Url.Action("Index", "Statistical")" style="color: orange; font-weight: bold "><i class="ik ik-bar-chart-2" style="color: orange"></i><span>Statistic Management</span></a>
                                </div>

                            </nav>
                        </div>
                    </div>
                }
                @if (ViewBag.Id == 1)
                {

                    <div class="sidebar-content">
                        <div class="nav-container">
                            <nav id="main-menu-navigation" class="navigation-main">
                                <div class="nav-lavel" style="color: white; background-color: #945305 "><i class="ik ik-settings"></i>Staff Management</div>

                                <div class="nav-item active">
                                    <a href="@Url.Action("StaffIndex", "Staff")" style="color: orange; font-weight: bold "><i class="ik ik-archive"></i>Product Management</a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("ShowAllBill", "BillManagement")" style="color: orange; font-weight: bold "><i class="ik ik-shopping-cart"></i>Order Management</a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("ReviewIndex", "Review")" style="color: orange; font-weight: bold "><i class="ik ik-message-circle"></i><span>Review Management</span></a>
                                </div>
                                <div class="nav-item ">
                                    <a href="@Url.Action("Index", "Statistical")" style="color: orange; font-weight: bold "><i class="ik ik-bar-chart-2" style="color: orange"></i><span>Statistic Management</span></a>
                                </div>
                            </nav>
                        </div>
                    </div>
                }

            </div>

            <div class="main-content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="center" style="padding:3% 5% 5% 30%">
                            <h2> Edit Product Information</h2>

                        </div>
                        <div class="card-body">
                            @using (Html.BeginForm())

                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @Html.HiddenFor(model => model.Product_ID)

                                    <div class="form-group row">
                                        <div class="col-md-1">
                                            <span>Name</span>
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Product_Name, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Product_Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-1">
                                            <span>Price (VND)</span>
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Product_Price, new { htmlAttributes = new { @class = "form-control",Type="number",@min = "1" } })
                                            @Html.ValidationMessageFor(model => model.Product_Price, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-1">
                                            <span>Description</span>
                                        </div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.Product_Description, new { htmlAttributes = new { @class = "form-control" } })
                                            @Html.ValidationMessageFor(model => model.Product_Description, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @*<div class="form-group row">
                                            <div class="col-md-1">
                                                <span>Star</span>
                                            </div>
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.Product_Star, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.Product_Star, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                    <div class="form-group row">
                                        <div class="col-md-1">
                                            <span>Status</span>
                                        </div>
                                        <div class="col-md-10">
                                            @Html.RadioButtonFor(model => model.ProductStatus_ID, "0")
                                            <label>Out of stoking</label>
                                            @Html.RadioButtonFor(model => model.ProductStatus_ID, "1")
                                            <label>Stoking</label>
                                            @Html.RadioButtonFor(model => model.ProductStatus_ID, "2")
                                            <label>Delete</label>
                                            @Html.RadioButtonFor(model => model.ProductStatus_ID, "3")
                                            <label>Watting for accepting</label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-1">
                                            <span>Origin</span>
                                        </div>
                                        <div class="col-md-10">
                                            @Html.RadioButtonFor(model => model.Origin_ID, "1")
                                            <label>Vietnam</label>
                                            @Html.RadioButtonFor(model => model.Origin_ID, "2")
                                            <label>Korea</label>
                                            @Html.RadioButtonFor(model => model.Origin_ID, "3")
                                            <label>Thailand</label>
                                            @Html.RadioButtonFor(model => model.Origin_ID, "4")
                                            <label>India</label>
                                            @Html.RadioButtonFor(model => model.Origin_ID, "5")
                                            <label>Japan</label>
                                            @Html.RadioButtonFor(model => model.Origin_ID, "6")
                                            <label>China</label>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-1">
                                            <span>Type of food</span>
                                        </div>
                                        <div class="col-md-10">
                                            @Html.RadioButtonFor(model => model.TypeOfFood_ID, "0")
                                            <label>Main course</label>
                                            @Html.RadioButtonFor(model => model.TypeOfFood_ID, "1")
                                            <label>Desert</label>
                                            @Html.RadioButtonFor(model => model.TypeOfFood_ID, "2")
                                            <label>Pastry</label>
                                            @Html.RadioButtonFor(model => model.TypeOfFood_ID, "3")
                                            <label>Diet</label>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <div class="col-md-1">
                                            <span>Form of food</span>
                                        </div>
                                        <div class="col-md-10">
                                            @Html.RadioButtonFor(model => model.FormOfFood_ID, "1")
                                            <label>Liquid</label>
                                            @Html.RadioButtonFor(model => model.FormOfFood_ID, "2")
                                            <label>Dry</label>
                                            @Html.RadioButtonFor(model => model.FormOfFood_ID, "3")
                                            <label>Cold</label>
                                            @Html.RadioButtonFor(model => model.FormOfFood_ID, "4")
                                            <label>Cake</label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade apps-modal" id="appsModal" tabindex="-1" role="dialog" aria-labelledby="appsModalLabel" aria-hidden="true" data-backdrop="false">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="ik ik-x-circle"></i></button>
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="quick-search">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-4 ml-auto mr-auto">
                                <div class="input-wrap">
                                    <input type="text" id="quick-search" class="form-control" placeholder="Search..." />
                                    <i class="ik ik-search"></i>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-body d-flex align-items-center">
                    <div class="container">
                        <div class="apps-wrap">
                            <div class="app-item">
                                <a href="#"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
                            </div>
                            <div class="app-item dropdown">
                                <a href="#" class="dropdown-toggle" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="ik ik-command"></i><span>Ui</span></a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <a class="dropdown-item" href="#">Action</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-mail"></i><span>Message</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-users"></i><span>Accounts</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-shopping-cart"></i><span>Sales</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-briefcase"></i><span>Purchase</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-server"></i><span>Menus</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-clipboard"></i><span>Pages</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-message-square"></i><span>Chats</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-map-pin"></i><span>Contacts</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-box"></i><span>Blocks</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-calendar"></i><span>Events</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-bell"></i><span>Notifications</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-pie-chart"></i><span>Reports</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-layers"></i><span>Tasks</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-edit"></i><span>Blogs</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-settings"></i><span>Settings</span></a>
                            </div>
                            <div class="app-item">
                                <a href="#"><i class="ik ik-more-horizontal"></i><span>More</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="../node_modules/screenfull/dist/screenfull.js"></script>
    <script src="../node_modules/datatables.net/js/jquery.dataTables.min.js"></script>
    <script src="../node_modules/datatables.net-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../node_modules/datatables.net-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../node_modules/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js"></script>
    <script src="../node_modules/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="../node_modules/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../node_modules/moment/moment.js"></script>
    <script src="../node_modules/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js"></script>
    <script src="../node_modules/d3/dist/d3.min.js"></script>
    <script src="../node_modules/c3/c3.min.js"></script>
    <script src="../js/tables.js"></script>
    <script src="../js/widgets.js"></script>
    <script src="../js/charts.js"></script>
    <script src="../dist/js/theme.min.js"></script>
    Google Analytics: change UA-XXXXX - X to be your site's ID.
    < script >
    (function(b, o, i, l, e, r) {
    b.GoogleAnalyticsObject = l; b[l] || (b[l] =
    function() { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
    e = o.createElement(i); r = o.getElementsByTagName(i)[0];
    e.src = 'https://www.google-analytics.com/analytics.js';
    r.parentNode.insertBefore(e, r)
    }
    (window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');
    </script>

</body>
</html>


