﻿@model G4_TaToOr_SE1504_SP22_Official.Models.User


@{
    Layout = null;


}


<!doctype html>
<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>TaToOr Personal Information</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" href="../../img/logo/logo2.png" type="image/x-icon" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/node_modules/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="~/node_modules/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="~/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/dist/css/theme.min.css">
    <script src="~/src/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    @*Thông báo tình trạng đổi thông tin cá nhân*@
    @if (ViewBag.Status != null)
    {
        <script>
            alert("@ViewBag.Status");
        </script>
    }


    <div class="wrapper">


        <div class="page-wrap">

            <div class="main-content">
                <div class="container-fluid">
                    <div class="card">
                        <div class="center" style="padding:3% 3% 3% 30%">
                            <h2> Edit product information</h2>

                        </div>
                        <div class="card-body">
                            @* Form thay đổi thông tin cá nhân*@
                            @using (Html.BeginForm("Registration", "Register", FormMethod.Post))
                            {
                                @Html.AntiForgeryToken()

                                <div class="form-horizontal">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.User_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.User_ID, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.User_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                    <div class="form-group row">
                                        <div class="col-md-1"> <span>Account</span></div>

                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.User_Account, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                            @Html.ValidationMessageFor(model => model.User_Account, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-1"><span>Password</span></div>

                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.User_Password, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                            @Html.ValidationMessageFor(model => model.User_Password, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-1"> <span>Name</span></div>


                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                            @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-1"> <span>Gender</span></div>
                                        <div class="col-md-10">
                                            @Html.RadioButtonFor(model => model.GenderOfUser_ID, "0", htmlAttributes: new { @checked = "checked", @required = true })
                                            <label>Other</label>
                                            @Html.RadioButtonFor(model => model.GenderOfUser_ID, "1")
                                            <label>Male</label>
                                            @Html.RadioButtonFor(model => model.GenderOfUser_ID, "2")
                                            <label>Female</label>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-1"> <span>Birthday</span></div>

                                        
                                        <div class="col-md-10">
                                            <input class="form-control" placeholder="dd-mm-yyyy" type="date" name="User_DateOfBirth" max="@DateTime.Now.ToString("yyyy-MM-dd")" min="1900-01-01" />
                                            @Html.HiddenFor(model => model.User_DateOfBirth)
                                            @Html.ValidationMessageFor(model => model.User_DateOfBirth, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-1"> <span>Phone number</span></div>
                                        
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.User_PhoneNumber, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                            @Html.ValidationMessageFor(model => model.User_PhoneNumber, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-1"> <span>Address</span></div>
                                        <div class="col-md-10">
                                            @Html.EditorFor(model => model.User_Address, new { htmlAttributes = new { @class = "form-control", @required = true } })
                                            @Html.ValidationMessageFor(model => model.User_Address, "", new { @class = "text-danger" })
                                        </div>
                                    </div>

                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.TypeOfUser_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.TypeOfUser_ID, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.TypeOfUser_ID, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                <div class="form-group row">
                                    <div class="col-md-1"> <span>Email</span></div>
                                    
                                  
                                    <div class="col-md-10">
                                        @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control", @readonly = true } })
                                        @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                    @*<div class="form-group">
                                            @Html.LabelFor(model => model.User_Note, htmlAttributes: new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.EditorFor(model => model.User_Note, new { htmlAttributes = new { @class = "form-control" } })
                                                @Html.ValidationMessageFor(model => model.User_Note, "", new { @class = "text-danger" })
                                            </div>
                                        </div>*@

                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Create" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                </div>


            </div>
        </div>
    </div>

    @*Bắt lỗi email*@
    <script type="text/javascript">
        function ValidateEmail() {
            var email = document.getElementById("txtEmail").value;
            var lblError = document.getElementById("lblError");
            lblError.innerHTML = "";
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                lblError.innerHTML = "Invalid email address.";
                return false;
            }
        }
    </script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
    <script src="~/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="~/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
    <script src="~/dist/js/theme.min.js"></script>
    <script src="~/js/forms.js"></script>
    Google Analytics: change UA-XXXXX-X to be your site's ID.
    <script>
        (function (b, o, i, l, e, r) {
            b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
            e = o.createElement(i); r = o.getElementsByTagName(i)[0];
            e.src = 'https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e, r)
        }(window, document, 'script', 'ga'));
    ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');</script>
</body>
</html>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}