﻿@model G4_TaToOr_SE1504_SP22_Official.Models.UserCF

@{
    ViewBag.Title = "Register";
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Registration</title>

    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="icon" type="image/png" href="../../img/logo/logo2.png" />

    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">

    <link rel="stylesheet" href="~/node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/node_modules/fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="~/node_modules/ionicons/dist/css/ionicons.min.css">
    <link rel="stylesheet" href="~/node_modules/icon-kit/dist/css/iconkit.min.css">
    <link rel="stylesheet" href="~/node_modules/perfect-scrollbar/css/perfect-scrollbar.css">
    <link rel="stylesheet" href="~/dist/css/theme.min.css">
    <script src="../src/js/vendor/modernizr-2.8.3.min.js"></script>

    <style>
        .text-danger {
            color: red;
        }

        .form-control {
            width: stretch
        }

        .logo-re {
            height: 250%;
            width: 250%;
        }

        #customBtn {
            display: inline-block;
            background: white;
            color: #444;
            width: 130px;
            border-radius: 5px;
            border: thin solid #888;
            box-shadow: 1px 1px 1px grey;
            white-space: nowrap;
        }

            #customBtn:hover {
                cursor: pointer;
            }

        span.label {
            font-family: serif;
            font-weight: normal;
        }

        span.icon {
            background: url('/img/Google__G__Logo.svg.png') transparent 5px 50% no-repeat;
            background-size: 30px 30px;
            display: inline-block;
            vertical-align: middle;
            width: 42px;
            height: 42px;
        }

        span.buttonText {
            display: inline-block;
            vertical-align: middle;
            padding-left: 10px;
            padding-right: 10px;
            font-size: 14px;
            font-weight: bold;
            /* Use the Roboto font that is loaded in the <head> */
            font-family: 'Roboto', sans-serif;
        }
    </style>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="auth-wrapper">
            <div class="container-fluid h-100">
                <div class="row flex-row h-100 bg-white">
                    <div class="col-xl-8 col-lg-6 col-md-5 p-0 d-md-block d-lg-block d-sm-none d-none">
                        <div class="lavalite-bg text-center" style="background-image: url('/img/Vietnamese.jpg')">

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-7 my-auto p-0">
                        <div class="authentication-form mx-auto">
                            <div class="logo-centered ">
                                <a href="@Url.Action("Index", "Home")"><img src="~/img/logo/logo2.png" alt="Logo" width="100em" height="100em"></a>
                            </div>
                            <h3 class="text-center" style="font-size:170%">Register. It's quick and easy!</h3>
                            @*<p class="text-center" style="font-size:150%"> It's quick and easy!</p>*@

                            @*Form register*@
                            <form>
                                <div class="form-group">
                                    @*<input type="text" class="form-control" placeholder="Account" required="">
                                        <i class="ik ik-user"></i>*@
                                    <div class="col-md-offset-11">
                                        @Html.EditorFor(model => model.User_Account, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please enter your account" } })
                                        @Html.ValidationMessageFor(model => model.User_Account, "", new { @class = "text-danger" })
                                        @if (ViewBag.error != null)
                                        {
                                            <span class="text-danger">@ViewBag.error</span>// notify user alreary exit

                                        }
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*<input type="password" class="form-control" placeholder="Password" required="">
                                        <i class="ik ik-lock"></i>*@
                                    <div class="col-md-offset-11">
                                        @Html.EditorFor(model => model.User_Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Please enter your password", @name = "password" } })
                                        @Html.ValidationMessageFor(model => model.User_Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*<input type="password" class="form-control" placeholder="Confirm Password" required="">
                                        <i class="ik ik-clock"></i>*@
                                    <div class="col-md-offset-11">
                                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @placeholder = "Please enter password again", @name = "confirm" } })

                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*<input type="text" name="User_Name" class="form-control" placeholder="Full name" required="">
                                        <i class="ik ik-user"></i>*@
                                    <div class="col-md-offset-11">
                                        @Html.EditorFor(model => model.User_Name, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please enter your name" } })

                                        @Html.ValidationMessageFor(model => model.User_Name, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-10">
                                        @Html.RadioButtonFor(model => model.GenderOfUser_ID, "0", htmlAttributes: new { @checked = "checked" })
                                        <label>Other</label>
                                        @Html.RadioButtonFor(model => model.GenderOfUser_ID, "1")
                                        <label>Male</label>
                                        @Html.RadioButtonFor(model => model.GenderOfUser_ID, "2")
                                        <label>Female</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*<input type="text" class="form-control" placeholder="Date of birth" required="">
                                        <i class="ik ik-calendar"></i>*@
                                    <div class="col-md-offset-11">
                                        <input class="form-control" placeholder="dd-mm-yyyy" type="date" name="User_DateOfBirth" max="@DateTime.Now.ToString("yyyy-MM-dd")" min="1900-01-01" />
                                        @Html.HiddenFor(model => model.User_DateOfBirth)
                                        @Html.ValidationMessageFor(model => model.User_DateOfBirth, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*<input type="text" class="form-control" placeholder="Phone number" required="">
                                        <i class="ik ik-phone"></i>*@
                                    <div class="col-md-offset-11">
                                        @Html.EditorFor(model => model.User_PhoneNumber, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please enter your phone number" } })
                                        @Html.ValidationMessageFor(model => model.User_PhoneNumber, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    @*<input type="text" class="form-control" placeholder="Email" required="">
                                        <i class="ik ik-mail"></i>*@
                                    <div class="col-md-offset-11">
                                        @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control", @placeholder = "Please enter your email" } })
                                        @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
                                        @if (ViewBag.errorMail != null)
                                        {
                                            <span class="text-danger">@ViewBag.errorMail</span>// notify user alreary exit

                                        }
                                    </div>

                                </div>
                                <div class="sign-btn text-center">
                                    <button class="btn btn-theme">Create Account</button>
                                </div>
                                <div class="sign-btn text-center">
                                    <div id="gSignInWrapper">
                                        <span class="label">Register with: </span>
                                        <div id="customBtn" class="customGPlusSignIn">
                                            <span class="icon"></span>
                                            <span>Google</span>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <div class="register">
                                <p>Already have an account? <a href="@Url.Action("Login", "Login")">Sign In</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script>
            var googleUser = {};
            var startApp = function () {
                gapi.load('auth2', function () {

                    auth2 = gapi.auth2.init({
                        client_id: '305348181639-9qrmud3co69lbv6l5nqv4qcd24dqtvkk.apps.googleusercontent.com',
                        cookiepolicy: 'single_host_origin',

                    });
                    attachSignin(document.getElementById('customBtn'));
                });
            };

            function attachSignin(element) {
                console.log(element.id);
                auth2.attachClickHandler(element, {},
                    function (googleUser) {
                        var profile = googleUser.getBasicProfile();
                        var creuser = {
                            User_Name: profile.getName(),
                            User_Email: profile.getEmail()
                        };
                        var xhr = new XMLHttpRequest();
                        xhr.open('POST', 'GoogleResponse');
                        xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
                        xhr.onload = function () {
                            window.location.href = "GoogleRegister";
                        };
                        xhr.send('info=' + JSON.stringify(creuser));

                    }, function (error) {
                        alert(JSON.stringify(error, undefined, 2));
                    });
            }
        </script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>window.jQuery || document.write('<script src="../src/js/vendor/jquery-3.3.1.min.js"><\/script>')</script>
        <script src="../node_modules/popper.js/dist/umd/popper.min.js"></script>
        <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="../node_modules/perfect-scrollbar/dist/perfect-scrollbar.min.js"></script>
        <script src="../node_modules/screenfull/dist/screenfull.js"></script>
        <script src="../dist/js/theme.js"></script>
        <script src="https://apis.google.com/js/api:client.js"></script>
        <script>startApp();</script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function (b, o, i, l, e, r) {
                b.GoogleAnalyticsObject = l; b[l] || (b[l] =
                    function () { (b[l].q = b[l].q || []).push(arguments) }); b[l].l = +new Date;
                e = o.createElement(i); r = o.getElementsByTagName(i)[0];
                e.src = 'https://www.google-analytics.com/analytics.js';
                r.parentNode.insertBefore(e, r)
            }(window, document, 'script', 'ga'));
            ga('create', 'UA-XXXXX-X', 'auto'); ga('send', 'pageview');
                                                                //confirm


        </script>
    }


</body>
</html>


